<section class="text section-anchor" id="add-service">
	<h2 class="h2 text__h2">
		Дополнительные услуги
	</h2>
	<div class="text__content text__content--bg">
		<table>
			<tr>
				<td>
					Оформление шенгенской визы (включая мед. страховку) - Взрослые
				</td>
				<td>
					80 EUR
				</td>
			</tr>
			<tr>
				<td>
					Оформление шенгенской визы (включая мед. страховку) - Ребенок до 6 лет 
				</td>
				<td>
					15 EUR
				</td>
			</tr>
			<tr>
				<td>
					Оформление шенгенской визы (включая мед. страховку) - Ребенок 6-11 лет
				</td>
				<td>
					35 EUR
				</td>
			</tr>
			<tr>
				<td>
					Медстраховка без оформления визы
				</td>
				<td>
					15 EUR
				</td>
			</tr>
			<tr>
				<td>
					Выбор места в автобусе
				</td>
				<td>
					10 EUR
				</td>
			</tr>
			<tr>
				<td>
					Гарантийный платеж от невыезда
				</td>
				<td>
					10 EUR
				</td>
			</tr>
			<tr>
				<td>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia expedita fuga delectus nam omnis accusamus autem temporibus iure cum voluptatem rerum neque quisquam sed provident, similique quis natus fugiat id!
				</td>
				<td>
					1000 EUR
				</td>
			</tr>
		</table>
	</div>
</section>