<section class="breadcrumbs">
	<div class="container breadcrumbs__container">
		<a href="index.html" class="breadcrumbs__link">
			Главная
		</a>
		<svg class="icon-svg">
			<use xlink:href="img/sprites/svg/symbols.svg#icon-arrow"></use>
		</svg>
		<a href="index.html" class="breadcrumbs__link">
			Туры в Европу
		</a>
		<svg class="icon-svg">
			<use xlink:href="img/sprites/svg/symbols.svg#icon-arrow"></use>
		</svg>
		<span class="breadcrumbs__now">
			Тур Прага-Дрезден
		</span>
	</div>
</section>