<section class="f-slider">
	<div class="container">
		<h2 class="h2 f-slider__h2">
			Автобусные туры в Европу
		</h2>
		<div class="f-slider__slider-container swiper-container">
			<div class="swiper-wrapper f-slider__slider-wrapper">
				<a href="tours-list.html" class="tour-slide swiper-slide">
					<div class="tour-slide__top" style="background-image: url('http://placehold.it/1000x600');">
						<div class="tour-slide__title">
							Гостеприимная Чехия Прага - Карловы Вары
						</div>
					</div>
					<div class="tour-slide__bottom">
						<div class="tour-slide__date">
							<p class="tour-slide__days">
								6 дней
							</p>
							<p class="tour-slide__start">
								выезд: 3.04, 30.04 
							</p>
						</div>
						<div class="tour-slide__price">
							<div class="tour-slide__money">
								от 275 EUR
								<span class="fact" aria-label="данная цена действительна при покупке экскурсионного пакета" data-microtip-position="top-right" role="tooltip">
									<svg class="icon-svg">
										<use xlink:href="img/sprites/svg/symbols.svg#icon-warning"></use>
									</svg>
								</span>
							</div>
						</div>
					</div>
				</a>
				<a href="tours-list.html" class="tour-slide swiper-slide">
					<div class="tour-slide__top" style="background-image: url('http://placehold.it/1000x600');">
						<div class="tour-slide__title">
							Гостеприимная Чехия Прага - Карловы Вары
						</div>
					</div>
					<div class="tour-slide__bottom">
						<div class="tour-slide__date">
							<p class="tour-slide__days">
								6 дней
							</p>
							<p class="tour-slide__start">
								выезд: 3.04, 30.04 
							</p>
						</div>
						<div class="tour-slide__price">
							<div class="tour-slide__money">
								от 275 EUR
								<span class="fact" aria-label="данная цена действительна при покупке экскурсионного пакета" data-microtip-position="top-right" role="tooltip">
									<svg class="icon-svg">
										<use xlink:href="img/sprites/svg/symbols.svg#icon-warning"></use>
									</svg>
								</span>
							</div>
						</div>
					</div>
				</a>
				<a href="tours-list.html" class="tour-slide swiper-slide">
					<div class="tour-slide__top" style="background-image: url('http://placehold.it/1000x600');">
						<div class="tour-slide__title">
							Гостеприимная Чехия Прага - Карловы Вары
						</div>
					</div>
					<div class="tour-slide__bottom">
						<div class="tour-slide__date">
							<p class="tour-slide__days">
								6 дней
							</p>
							<p class="tour-slide__start">
								выезд: 3.04, 30.04 
							</p>
						</div>
						<div class="tour-slide__price">
							<div class="tour-slide__money">
								от 275 EUR
								<span class="fact" aria-label="данная цена действительна при покупке экскурсионного пакета" data-microtip-position="top-right" role="tooltip">
									<svg class="icon-svg">
										<use xlink:href="img/sprites/svg/symbols.svg#icon-warning"></use>
									</svg>
								</span>
							</div>
						</div>
					</div>
				</a>
				<a href="tours-list.html" class="tour-slide swiper-slide">
					<div class="tour-slide__top" style="background-image: url('http://placehold.it/1000x600');">
						<div class="tour-slide__title">
							Гостеприимная Чехия Прага - Карловы Вары
						</div>
					</div>
					<div class="tour-slide__bottom">
						<div class="tour-slide__date">
							<p class="tour-slide__days">
								6 дней
							</p>
							<p class="tour-slide__start">
								выезд: 3.04, 30.04 
							</p>
						</div>
						<div class="tour-slide__price">
							<div class="tour-slide__money">
								от 275 EUR
								<span class="fact" aria-label="данная цена действительна при покупке экскурсионного пакета" data-microtip-position="top-right" role="tooltip">
									<svg class="icon-svg">
										<use xlink:href="img/sprites/svg/symbols.svg#icon-warning"></use>
									</svg>
								</span>
							</div>
						</div>
					</div>
				</a>
				<a href="tours-list.html" class="tour-slide swiper-slide">
					<div class="tour-slide__top" style="background-image: url('http://placehold.it/1000x600');">
						<div class="tour-slide__title">
							Гостеприимная Чехия Прага - Карловы Вары
						</div>
					</div>
					<div class="tour-slide__bottom">
						<div class="tour-slide__date">
							<p class="tour-slide__days">
								6 дней
							</p>
							<p class="tour-slide__start">
								выезд: 3.04, 30.04 
							</p>
						</div>
						<div class="tour-slide__price">
							<div class="tour-slide__money">
								от 275 EUR
								<span class="fact" aria-label="данная цена действительна при покупке экскурсионного пакета" data-microtip-position="top-right" role="tooltip">
									<svg class="icon-svg">
										<use xlink:href="img/sprites/svg/symbols.svg#icon-warning"></use>
									</svg>
								</span>
							</div>
						</div>
					</div>
				</a>
				<a href="tours-list.html" class="tour-slide swiper-slide">
					<div class="tour-slide__top" style="background-image: url('http://placehold.it/1000x600');">
						<div class="tour-slide__title">
							Гостеприимная Чехия Прага - Карловы Вары
						</div>
					</div>
					<div class="tour-slide__bottom">
						<div class="tour-slide__date">
							<p class="tour-slide__days">
								6 дней
							</p>
							<p class="tour-slide__start">
								выезд: 3.04, 30.04 
							</p>
						</div>
						<div class="tour-slide__price">
							<div class="tour-slide__money">
								от 275 EUR
								<span class="fact" aria-label="данная цена действительна при покупке экскурсионного пакета" data-microtip-position="top-right" role="tooltip">
									<svg class="icon-svg">
										<use xlink:href="img/sprites/svg/symbols.svg#icon-warning"></use>
									</svg>
								</span>
							</div>
						</div>
					</div>
				</a>
			</div>
			<div class="f-slider__prev">
				1
			</div>
			<div class="f-slider__next">
				2
			</div>
		</div>
	</div>
</section>