<section class="f-slider">
	<div class="container f-slider__container">
		<h2 class="h2 f-slider__h2">
			Экскурсии по Калининградской области
		</h2>
		<div class="f-slider__slider-container f-slider__slider-container--3 swiper-container">
			<div class="swiper-wrapper f-slider__slider-wrapper">
				<div class="ex-slide swiper-slide" style="background-image: url('http://placehold.it/1000x600');">
					<div class="ex-slide__content">
						<div class="ex-slide__top">
							Экскурсия «По старым улицам Черняховска»
						</div>
						<div class="ex-slide__bottom">
							<div class="ex-slide__info">
								<div class="ex-slide__date">
									<p class="ex-slide__day">
										среда
									</p>
									<p class="ex-slide__time">
										10:00 - 16:00
									</p>
								</div>
								<div class="ex-slide__price">
									<b>800</b> руб
								</div>
							</div>
							<a href="single-ex.html" class="ex-slide__btn">
								Подробнее
							</a>
						</div>
					</div>
				</div>
				<div class="ex-slide swiper-slide" style="background-image: url('http://placehold.it/1000x600');">
					<div class="ex-slide__content">
						<div class="ex-slide__top">
							Экскурсия «По старым улицам Черняховска»
						</div>
						<div class="ex-slide__bottom">
							<div class="ex-slide__info">
								<div class="ex-slide__date">
									<p class="ex-slide__day">
										среда
									</p>
									<p class="ex-slide__time">
										10:00 - 16:00
									</p>
								</div>
								<div class="ex-slide__price">
									<b>800</b> руб
								</div>
							</div>
							<a href="single-ex.html" class="ex-slide__btn">
								Подробнее
							</a>
						</div>
					</div>
				</div>
				<div class="ex-slide swiper-slide" style="background-image: url('http://placehold.it/1000x600');">
					<div class="ex-slide__content">
						<div class="ex-slide__top">
							Экскурсия «По старым улицам Черняховска»
						</div>
						<div class="ex-slide__bottom">
							<div class="ex-slide__info">
								<div class="ex-slide__date">
									<p class="ex-slide__day">
										среда
									</p>
									<p class="ex-slide__time">
										10:00 - 16:00
									</p>
								</div>
								<div class="ex-slide__price">
									<b>800</b> руб
								</div>
							</div>
							<a href="single-ex.html" class="ex-slide__btn">
								Подробнее
							</a>
						</div>
					</div>
				</div>
				<div class="ex-slide swiper-slide" style="background-image: url('http://placehold.it/1000x600');">
					<div class="ex-slide__content">
						<div class="ex-slide__top">
							Экскурсия «По старым улицам Черняховска»
						</div>
						<div class="ex-slide__bottom">
							<div class="ex-slide__info">
								<div class="ex-slide__date">
									<p class="ex-slide__day">
										среда
									</p>
									<p class="ex-slide__time">
										10:00 - 16:00
									</p>
								</div>
								<div class="ex-slide__price">
									<b>800</b> руб
								</div>
							</div>
							<a href="single-ex.html" class="ex-slide__btn">
								Подробнее
							</a>
						</div>
					</div>
				</div>
				<div class="ex-slide swiper-slide" style="background-image: url('http://placehold.it/1000x600');">
					<div class="ex-slide__content">
						<div class="ex-slide__top">
							Экскурсия «По старым улицам Черняховска»
						</div>
						<div class="ex-slide__bottom">
							<div class="ex-slide__info">
								<div class="ex-slide__date">
									<p class="ex-slide__day">
										среда
									</p>
									<p class="ex-slide__time">
										10:00 - 16:00
									</p>
								</div>
								<div class="ex-slide__price">
									<b>800</b> руб
								</div>
							</div>
							<a href="single-ex.html" class="ex-slide__btn">
								Подробнее
							</a>
						</div>
					</div>
				</div>
				<div class="ex-slide swiper-slide" style="background-image: url('http://placehold.it/1000x600');">
					<div class="ex-slide__content">
						<div class="ex-slide__top">
							Экскурсия «По старым улицам Черняховска»
						</div>
						<div class="ex-slide__bottom">
							<div class="ex-slide__info">
								<div class="ex-slide__date">
									<p class="ex-slide__day">
										среда
									</p>
									<p class="ex-slide__time">
										10:00 - 16:00
									</p>
								</div>
								<div class="ex-slide__price">
									<b>800</b> руб
								</div>
							</div>
							<a href="single-ex.html" class="ex-slide__btn">
								Подробнее
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="f-slider__prev">
				<svg class="icon-svg">
					<use xlink:href="img/sprites/svg/symbols.svg#icon-next"></use>
				</svg>
			</div>
			<div class="f-slider__next">
				<svg class="icon-svg">
					<use xlink:href="img/sprites/svg/symbols.svg#icon-next"></use>
				</svg>
			</div>
		</div>
	</div>
</section>