<section class="features section-anchor" id="in-price">
	<h2 class="h2 features__h2">
		Включено в стоимость тура
	</h2>
	<div class="features__items">
		<div class="features__item">
			<div class="features__icon">
				<svg class="icon-svg">
					<use xlink:href="img/sprites/svg/symbols.svg#icon-bus"></use>
				</svg>
				<svg class="icon-svg">
					<use xlink:href="img/sprites/svg/symbols.svg#icon-ok"></use>
				</svg>
			</div>
			<p class="features__text">
				Проезд в комфортабельном автобусе
			</p>
		</div>
		<div class="features__item">
			<div class="features__icon">
				<svg class="icon-svg">
					<use xlink:href="img/sprites/svg/symbols.svg#icon-bed"></use>
				</svg>
				<svg class="icon-svg">
					<use xlink:href="img/sprites/svg/symbols.svg#icon-ok"></use>
				</svg>
			</div>
			<p class="features__text">
				Проживание в отеле
			</p>
		</div>
		<div class="features__item">
			<div class="features__icon">
				<svg class="icon-svg">
					<use xlink:href="img/sprites/svg/symbols.svg#icon-girl"></use>
				</svg>
				<svg class="icon-svg">
					<use xlink:href="img/sprites/svg/symbols.svg#icon-ok"></use>
				</svg>
			</div>
			<p class="features__text">
				Сопровождение представителем фирмы
			</p>
		</div>
		<div class="features__item">
			<div class="features__icon">
				<svg class="icon-svg">
					<use xlink:href="img/sprites/svg/symbols.svg#icon-food"></use>
				</svg>
				<svg class="icon-svg">
					<use xlink:href="img/sprites/svg/symbols.svg#icon-ok"></use>
				</svg>
			</div>
			<p class="features__text">
				Завтраки в отеле
			</p>
		</div>
	</div>
</section>