<section class="filter">
	<div class="container">
		<div class="filter__body">
			<div class="filter__nav">
				<a href="" class="filter__tab">
					Автобусные туры в Европу
				</a>
				<a href="" class="filter__tab filter__tab--active">
					Экскурсии по Калининградской области
				</a>
			</div>
			<form action="" class="filter__content">
				<select class="filter__select filter__select--tours filter__select--big-line filter__select--line">
					<option value="all">Все туры</option>
					<option value="1">Категория 1</option>
					<option value="2">Категория 2</option>
					<option value="3">Категория 3</option>
					<option value="4">Категория 4</option>
					<option value="5">Категория 5</option>
				</select>
				<input class="filter__date" type="text" placeholder="Дата выезда, с" id="datepicker-start">
				<input class="filter__date" type="text" placeholder="Дата выезда, по" id="datepicker-finish">
				<button class="filter__btn">Поиск</button>
			</form>
		</div>
	</div>
</section>