<section class="reviews section-anchor" id="reviews-tour">
	<h2 class="h2 reviews__h2">
		Отзывы
	</h2>
	<article class="review">
		<div class="review__info">
			<span class="review__name">
				Соня Мармеладова
			</span>
			<span class="review__date">
				14.09.2018
			</span>
		</div>
		<p class="review__text">
			Среди всех моих многочисленных слабостей особое место занимает Европа и влюбленные в свою работу люди. Поэтому спонтанное посещение Праги вместе с "Калининград Туром" было отличной идеей! Представители агентства предложат экскурсии на любой вкус. Лично я хотела посмотреть нетуристическую Прагу, за исполнение этого желания огромное спасибо Виталию!
		</p>
	</article>
	<article class="review">
		<div class="review__info">
			<span class="review__name">
				Соня Мармеладова
			</span>
			<span class="review__date">
				14.09.2018
			</span>
		</div>
		<p class="review__text">
			Среди всех моих многочисленных слабостей особое место занимает Европа и влюбленные в свою работу люди. Поэтому спонтанное посещение Праги вместе с "Калининград Туром" было отличной идеей! Представители агентства предложат экскурсии на любой вкус. Лично я хотела посмотреть нетуристическую Прагу, за исполнение этого желания огромное спасибо Виталию!
		</p>
	</article>
	<article class="review">
		<div class="review__info">
			<span class="review__name">
				Соня Мармеладова
			</span>
			<span class="review__date">
				14.09.2018
			</span>
		</div>
		<p class="review__text">
			Среди всех моих многочисленных слабостей особое место занимает Европа и влюбленные в свою работу люди. Поэтому спонтанное посещение Праги вместе с "Калининград Туром" было отличной идеей! Представители агентства предложат экскурсии на любой вкус. Лично я хотела посмотреть нетуристическую Прагу, за исполнение этого желания огромное спасибо Виталию!
		</p>
	</article>
	<a href="#" class="btn btn--black reviews__btn">
		Больше отзывов об этом туре
	</a>
</section>