<section class="f-slider">
	<div class="container f-slider__container">
		<h2 class="h2 f-slider__h2">
			Дополнительные услуги
		</h2>
		<div class="f-slider__slider-container swiper-container">
			<div class="swiper-wrapper f-slider__slider-wrapper">
				<a href="tours-list.html" class="f-slide swiper-slide" style="background-image: url('http://placehold.it/1000x600');">
					<div class="f-slide__title">
						<span>
							Аренда транспорта
						</span>
						<svg class="icon-svg">
							<use xlink:href="img/sprites/svg/symbols.svg#icon-next"></use>
						</svg>
					</div>
				</a>
				<a href="tours-list.html" class="f-slide swiper-slide" style="background-image: url('http://placehold.it/1000x600');">
					<div class="f-slide__title">
						<span>
							Аренда транспорта
						</span>
						<svg class="icon-svg">
							<use xlink:href="img/sprites/svg/symbols.svg#icon-next"></use>
						</svg>
					</div>
				</a>
				<a href="tours-list.html" class="f-slide swiper-slide" style="background-image: url('http://placehold.it/1000x600');">
					<div class="f-slide__title">
						<span>
							Аренда транспорта
						</span>
						<svg class="icon-svg">
							<use xlink:href="img/sprites/svg/symbols.svg#icon-next"></use>
						</svg>
					</div>
				</a>
				<a href="tours-list.html" class="f-slide swiper-slide" style="background-image: url('http://placehold.it/1000x600');">
					<div class="f-slide__title">
						<span>
							Аренда транспорта
						</span>
						<svg class="icon-svg">
							<use xlink:href="img/sprites/svg/symbols.svg#icon-next"></use>
						</svg>
					</div>
				</a>
				<a href="tours-list.html" class="f-slide swiper-slide" style="background-image: url('http://placehold.it/1000x600');">
					<div class="f-slide__title">
						<span>
							Аренда транспорта
						</span>
						<svg class="icon-svg">
							<use xlink:href="img/sprites/svg/symbols.svg#icon-next"></use>
						</svg>
					</div>
				</a>
				<a href="tours-list.html" class="f-slide swiper-slide" style="background-image: url('http://placehold.it/1000x600');">
					<div class="f-slide__title">
						<span>
							Аренда транспорта
						</span>
						<svg class="icon-svg">
							<use xlink:href="img/sprites/svg/symbols.svg#icon-next"></use>
						</svg>
					</div>
				</a>
			</div>
			<div class="f-slider__prev">
				<svg class="icon-svg">
					<use xlink:href="img/sprites/svg/symbols.svg#icon-next"></use>
				</svg>
			</div>
			<div class="f-slider__next">
				<svg class="icon-svg">
					<use xlink:href="img/sprites/svg/symbols.svg#icon-next"></use>
				</svg>
			</div>
		</div>
	</div>
</section>