<section class="f-slider">
	<div class="container f-slider__container">
		<h2 class="h2 f-slider__h2">
			Дополнительные услуги
		</h2>
		<div class="f-slider__static-container">
			<a href="single-post.html" class="f-slide f-slide--static" style="background-image: url('http://placehold.it/1000x600');">
				<div class="f-slide__title">
					<span>
						Аренда транспорта
					</span>
					<svg class="icon-svg">
						<use xlink:href="img/sprites/svg/symbols.svg#icon-next"></use>
					</svg>
				</div>
			</a>
			<a href="single-post.html" class="f-slide f-slide--static" style="background-image: url('http://placehold.it/1000x600');">
				<div class="f-slide__title">
					<span>
						Аренда транспорта
					</span>
					<svg class="icon-svg">
						<use xlink:href="img/sprites/svg/symbols.svg#icon-next"></use>
					</svg>
				</div>
			</a>
			<a href="single-post.html" class="f-slide f-slide--static" style="background-image: url('http://placehold.it/1000x600');">
				<div class="f-slide__title">
					<span>
						Аренда транспорта
					</span>
					<svg class="icon-svg">
						<use xlink:href="img/sprites/svg/symbols.svg#icon-next"></use>
					</svg>
				</div>
			</a>
			<a href="single-post.html" class="f-slide f-slide--static" style="background-image: url('http://placehold.it/1000x600');">
				<div class="f-slide__title">
					<span>
						Аренда транспорта
					</span>
					<svg class="icon-svg">
						<use xlink:href="img/sprites/svg/symbols.svg#icon-next"></use>
					</svg>
				</div>
			</a>
			<div class="f-slide f-slide--static subscribe">
				<p class="subscribe__title">
					Подпишитесь на нашу рассылку
				</p>
				<p class="subscribe__text">
					Вы будете регулярно получать информацию о наших акциях и скидках на туры
				</p>
				<form action="" class="subscribe__form">
					<input type="text" class="subscribe__input" placeholder="Ваш e-mail">
					<button class="subscribe__btn">
						<svg class="icon-svg">
							<use xlink:href="img/sprites/svg/symbols.svg#icon-next"></use>
						</svg>
					</button>
				</form>
				<img src="img/plane.svg" class="subscribe__ill" alt="Иллюстрация для формы подписки">
			</div>
			<div class="f-slide--clear"></div>
		</div>
	</div>
</section>