<section class="text">
	<h2 class="h2 text__h2">
		Программа тура по дням
	</h2>
	<div class="text__content text__content--bg">
		<h3>1 день</h3> 
		<p>Ранний выезд из Калининграда. Транзитный переезд по территории Польши. Прибытие в г. Попрад (Словакия). Размещение в отеле 3*. Свободное время. Ночь в отеле.</p> 
		<h3>2 день</h3> 
		<p>Завтрак. Свободное время, отдых на курорте, катание на лыжах. Для желающих факультативно экскурсия Высокие Татры* (Штребское Плесо, Смоковец, Татранская Ломница). Вечером факультативно поездка в термальные бассейны в Врбов* (температура воды от 26 до 45 градусов). Термальная вода благотворно воздействует на двигательный аппарат, урологическую систему, дыхательные пути и обладает положительными косметическими свойствами. Ночь в отеле. </p>
		<h3>3 день</h3> 
		<p>Завтрак. Для желающих - поездка в Белянскую пещеру*, которая является одной из самых посещаемых пещер в Словакии. Во второй половине дня для желающих факультативно экскурсия Левоча + замок Стражки*. Королевский город Левоча - магический центр словацкого ренессанса основан в 1249 году. Готические костелы города уникальны своими интерьерами. Самый большой деревянный готический алтарь в мире - в церкви Святого Якуба, городская ратуша, музей скульптора Павола, дома с редкими фресками - позволят погрузиться в атмосферу средневековой Европы. Стражки - Ренессансный костел, спроектированный и построенный легендарным мастером Грегором Хорватом-Станситом предлагает экспозиции старинной мебели и домашних аксессуаров 17-19 вв. Вечером факультативно поездка в термальные бассейны в Врбов*. Ночь в отеле. </p>
		<h3>4 день</h3> 
		<p>Завтрак. Свободное время или факультативно экскурсия в Замок Любовнянский Град* 13-го века и посещение единственного в Словакии завода по производству виски завода NESTVILLE* (экскурсия+дегустация виски, произведенные по старинным рецептам). Знакомство с национальными старинными секретами производства напитка. Вечером факультативно поездка в термальные бассейны в Врбов*. Ночь в отеле. </p>
		<h3>5 день</h3> 
		<p>Завтрак. Свободное время, отдых и катание на лыжах на горнолыжных курортах Высокие Татры. Вечером факультативно Рождественский ужин в национальной словацкой колибе с живой музыкой*. Ночь в отеле.</p> 
		<h3>6 день</h3> 
		<p>Завтрак. Выезд из отеля. Переезд по территории Словакии, Польши. Позднее прибытие в Калининград.</p>
	</div>
</section>