<section class="tour-booking section-anchor" id="booking-hotel">
	<h2 class="h2 tour-booking__h2">
		Бронирование
	</h2>
	<div class="tour-booking__step tour-booking__step--1">
		<div class="tour-booking__left">
			<div class="step-title tour-booking__step-title">
				<p class="step-title__number">
					1
				</p>
				<p class="step-title__discript">
					Дата отправления
				</p>
			</div>
		</div>
		<div class="tour-booking__right">
			<div class="when swiper-container">
				<div class="when__btn when__btn--left">
					<svg class="icon-svg">
						<use xlink:href="img/sprites/svg/symbols.svg#icon-next"></use>
					</svg>
				</div>
				<div class="when__articles swiper-wrapper">
					<div class="when__article swiper-slide">
						<p class="when__title">
							20 апреля 2019
						</p>
						<label class="radio">
							<input type="radio" name="when" value="20-го полный">
							<div class="radio__icon">
								<div class="radio__icon-point"></div>
							</div>
							<div class="radio__text">
								<b>
									от 179 EUR/чел 
								</b>
								<br>
								с экскурс. пакетом
							</div>
						</label>
						<label class="radio">
							<input type="radio" name="when" value="20-го без пакета">
							<div class="radio__icon">
								<div class="radio__icon-point"></div>
							</div>
							<div class="radio__text">
								<b>
									от 170 EUR/чел
								</b>
								<br>
								без экскурс. пакета
							</div>
						</label>
					</div>
					
					<div class="when__article swiper-slide">
						<p class="when__title">
							20 апреля 2019
						</p>
						<label class="radio">
							<input type="radio" name="when" value="20-го полный">
							<div class="radio__icon">
								<div class="radio__icon-point"></div>
							</div>
							<div class="radio__text">
								<b>
									от 179 EUR/чел 
								</b>
								<br>
								с экскурс. пакетом
							</div>
						</label>
						<label class="radio">
							<input type="radio" name="when" value="20-го без пакета">
							<div class="radio__icon">
								<div class="radio__icon-point"></div>
							</div>
							<div class="radio__text">
								<b>
									от 170 EUR/чел
								</b>
								<br>
								без экскурс. пакета
							</div>
						</label>
					</div>
					<div class="when__article swiper-slide">
						<p class="when__title">
							20 апреля 2019
						</p>
						<label class="radio">
							<input type="radio" name="when" value="20-го полный">
							<div class="radio__icon">
								<div class="radio__icon-point"></div>
							</div>
							<div class="radio__text">
								<b>
									от 179 EUR/чел 
								</b>
								<br>
								с экскурс. пакетом
							</div>
						</label>
						<label class="radio">
							<input type="radio" name="when" value="20-го без пакета">
							<div class="radio__icon">
								<div class="radio__icon-point"></div>
							</div>
							<div class="radio__text">
								<b>
									от 170 EUR/чел
								</b>
								<br>
								без экскурс. пакета
							</div>
						</label>
					</div>
					<div class="when__article swiper-slide">
						<p class="when__title">
							20 апреля 2019
						</p>
						<label class="radio">
							<input type="radio" name="when" value="20-го полный">
							<div class="radio__icon">
								<div class="radio__icon-point"></div>
							</div>
							<div class="radio__text">
								<b>
									от 179 EUR/чел 
								</b>
								<br>
								с экскурс. пакетом
							</div>
						</label>
						<label class="radio">
							<input type="radio" name="when" value="20-го без пакета">
							<div class="radio__icon">
								<div class="radio__icon-point"></div>
							</div>
							<div class="radio__text">
								<b>
									от 170 EUR/чел
								</b>
								<br>
								без экскурс. пакета
							</div>
						</label>
					</div>
				</div>
				
				<div class="when__btn when__btn--right">
					<svg class="icon-svg">
						<use xlink:href="img/sprites/svg/symbols.svg#icon-next"></use>
					</svg>
				</div></div>
		</div>
	</div>
	<div class="tour-booking__step tour-booking__step--2">
		<div class="tour-booking__left">
			<div class="step-title tour-booking__step-title">
				<p class="step-title__number">
					2
				</p>
				<p class="step-title__discript">
					Размещение
				</p>
			</div>
		</div>
		<div class="tour-booking__right">
			<div class="tour-booking__selects">
				<label class="select tour-booking__select">
					<p class="select__text">
						Взрослых
					</p>
					<select class="select__form">
						<option value="1">1</option>
						<option value="2" selected>2</option>
						<option value="3">3</option>
					</select>
				</label>
				<label class="select tour-booking__select">
					<p class="select__text">
						Детей
					</p>
					<select class="select__form">
						<option value="0" selected>0</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
					</select>
				</label>
				<label class="checkbox">
					<input type="checkbox">
					<div class="checkbox__icon">
						<svg class="icon-svg">
							<use xlink:href="img/sprites/svg/symbols.svg#icon-check"></use>
						</svg>
					</div>
					<p class="checkbox__text">
						Я согласен на подселение
					</p>
				</label>
			</div>
		</div>
	</div>
	<div class="tour-booking__step tour-booking__step--3">
		<div class="tour-booking__left">
			<div class="step-title tour-booking__step-title">
				<p class="step-title__number">
					3
				</p>
				<p class="step-title__discript">
					Желаемый отель
				</p>
			</div>
		</div>
		<div class="tour-booking__right">
			<p class="tour-booking__discript">
				Выберите отель
			</p>
			<article class="hotel hotel--1 hotel--open tour-booking__hotel">
				<div class="hotel__top-part">
					<div class="hotel__columns">
						<div class="hotel__thumb">
							<img src="img/hotel-thumb.jpg" alt="Превью отеля">
						</div>
						<div class="hotel__about">
							<h3 class="hotel__title">
								Апарт-отель “Andalousie”
							</h3>
							<div class="hotel__control">
								<div class="price hotel__price">
									<span class="price__start">
										от
									</span>
									<span class="price__money">
										240
									</span>
									<span class="price__currency">
										EUR
									</span>
								</div>
								<div class="btn btn--light hotel__open">
									Подробнее
								</div>
							</div>

							<p class="hotel__price-info">
								Цена указана за размещение одного человека в <br>стандартном двухместном номере без питания.
							</p>
						</div>
					</div>
				</div>
				<div class="hotel__bottom-part">
					<div class="hotel__discript">
						<p>
							Обзорная пешеходная экскурсия по Копенгагену, 2 часа (групповая) Вы увидите самые интересные достопримечательности Копенгагена: красивое здание датского Парламента - Кристьянсборг, величественный дворец королевы Маргарет - Амалиенборг, памятник епископу Абсалону - основателю города, Квартал Нюхавн (Новая Гавань), дом Андерсена, памятник Русалочке, Мраморную церковь, фонтан Гефьён и другие места этого Сказочного города.
						</p>
					</div>
					<div class="hotel__slider thumbs-slider">
						<div class="swiper-container thumbs-slider__top">
							<div class="swiper-wrapper thumbs-slider__wrapper-top">
								<div class="swiper-slide thumbs-slider__top-slide" style="background-image:url(http://placehold.it/1000x600)">
									<img src="http://placehold.it/1000x600" alt="Изображение слайдера">
								</div>
								<div class="swiper-slide thumbs-slider__top-slide" style="background-image:url(http://placehold.it/1000x600)">
									<img src="http://placehold.it/1000x600" alt="Изображение слайдера">
								</div>
								<div class="swiper-slide thumbs-slider__top-slide" style="background-image:url(http://placehold.it/1000x600)">
									<img src="http://placehold.it/1000x600" alt="Изображение слайдера">
								</div>
								<div class="swiper-slide thumbs-slider__top-slide" style="background-image:url(http://placehold.it/1000x600)">
									<img src="http://placehold.it/1000x600" alt="Изображение слайдера">
								</div>
								<div class="swiper-slide thumbs-slider__top-slide" style="background-image:url(http://placehold.it/1000x600)">
									<img src="http://placehold.it/1000x600" alt="Изображение слайдера">
								</div>
								<div class="swiper-slide thumbs-slider__top-slide" style="background-image:url(http://placehold.it/1000x600)">
									<img src="http://placehold.it/1000x600" alt="Изображение слайдера">
								</div>
								<div class="swiper-slide thumbs-slider__top-slide" style="background-image:url(http://placehold.it/1000x600)">
									<img src="http://placehold.it/1000x600" alt="Изображение слайдера">
								</div>
								<div class="swiper-slide thumbs-slider__top-slide" style="background-image:url(http://placehold.it/1000x600)">
									<img src="http://placehold.it/1000x600" alt="Изображение слайдера">
								</div>
								<div class="swiper-slide thumbs-slider__top-slide" style="background-image:url(http://placehold.it/1000x600)">
									<img src="http://placehold.it/1000x600" alt="Изображение слайдера">
								</div>
								<div class="swiper-slide thumbs-slider__top-slide" style="background-image:url(http://placehold.it/1000x600)">
									<img src="http://placehold.it/1000x600" alt="Изображение слайдера">
								</div>
							</div>
						</div>
						<div class="thumbs-slider__thumbs">
							<div class="thumbs-slider__thumbs-top">
								<svg class="icon-svg">
									<use xlink:href="img/sprites/svg/symbols.svg#icon-next"></use>
								</svg>
							</div>
							<div class="swiper-container thumbs-slider__thumbs-container">
								<div class="swiper-wrapper thumbs-slider__wrapper-thumbs">
									<div class="swiper-slide thumbs-slider__thumbs-slide" style="background-image:url(http://placehold.it/1000x600)">
										<img src="http://placehold.it/1000x600" alt="Изображение слайдера">
									</div>
									<div class="swiper-slide thumbs-slider__thumbs-slide" style="background-image:url(http://placehold.it/1000x600)">
										<img src="http://placehold.it/1000x600" alt="Изображение слайдера">
									</div>
									<div class="swiper-slide thumbs-slider__thumbs-slide" style="background-image:url(http://placehold.it/1000x600)">
										<img src="http://placehold.it/1000x600" alt="Изображение слайдера">
									</div>
									<div class="swiper-slide thumbs-slider__thumbs-slide" style="background-image:url(http://placehold.it/1000x600)">
										<img src="http://placehold.it/1000x600" alt="Изображение слайдера">
									</div>
									<div class="swiper-slide thumbs-slider__thumbs-slide" style="background-image:url(http://placehold.it/1000x600)">
										<img src="http://placehold.it/1000x600" alt="Изображение слайдера">
									</div>
									<div class="swiper-slide thumbs-slider__thumbs-slide" style="background-image:url(http://placehold.it/1000x600)">
										<img src="http://placehold.it/1000x600" alt="Изображение слайдера">
									</div>
									<div class="swiper-slide thumbs-slider__thumbs-slide" style="background-image:url(http://placehold.it/1000x600)">
										<img src="http://placehold.it/1000x600" alt="Изображение слайдера">
									</div>
									<div class="swiper-slide thumbs-slider__thumbs-slide" style="background-image:url(http://placehold.it/1000x600)">
										<img src="http://placehold.it/1000x600" alt="Изображение слайдера">
									</div>
									<div class="swiper-slide thumbs-slider__thumbs-slide" style="background-image:url(http://placehold.it/1000x600)">
										<img src="http://placehold.it/1000x600" alt="Изображение слайдера">
									</div>
									<div class="swiper-slide thumbs-slider__thumbs-slide" style="background-image:url(http://placehold.it/1000x600)">
										<img src="http://placehold.it/1000x600" alt="Изображение слайдера">
									</div>
								</div>
							</div>
							<div class="thumbs-slider__thumbs-bottom">
								<svg class="icon-svg">
									<use xlink:href="img/sprites/svg/symbols.svg#icon-next"></use>
								</svg>
							</div>
						</div>
					</div>
					<div class="hotel__map">
						<p class="hotel__map-title">
							Отель на карте
						</p>
						<div class="hotel__map-content" id="hotel-map-position">

						</div>
						<script>
							document.addEventListener('DOMContentLoaded', function() {
								var myMap;

								ymaps.ready(init);

								function init () {
									myMap = new ymaps.Map('hotel-map-position', {

										center: [55.76, 37.64],
										zoom: 10
									}, {
										searchControlProvider: 'yandex#search'
									});
								}
							}, false);

						</script>
					</div>
					<div class="hotel__selects">
						<div class="hotel__select">
							<p class="hotel__select-title">
								Питание:
							</p>
							<label class="radio">
								<input type="radio" name="hotel-radio" checked>
								<div class="radio__icon">
									<div class="radio__icon-point"></div>
								</div>
								<p class="radio__text">
									<b>
										0 EUR 
									</b>
									без питания
								</p>
							</label>
							<label class="radio">
								<input type="radio" name="hotel-radio">
								<div class="radio__icon">
									<div class="radio__icon-point"></div>
								</div>
								<p class="radio__text">
									<b>
										20 EUR 
									</b>
									завтраки
								</p>
							</label>
							<label class="radio">
								<input type="radio" name="hotel-radio">
								<div class="radio__icon">
									<div class="radio__icon-point"></div>
								</div>
								<p class="radio__text">
									<b>
										70 EUR 
									</b>
									завтраки и ужины
								</p>
							</label>
						</div>
						<div class="hotel__select">
							<p class="hotel__select-title">
								Размещение
							</p>
							<label class="checkbox">
								<input type="checkbox">
								<div class="checkbox__icon">
									<svg class="icon-svg">
										<use xlink:href="img/sprites/svg/symbols.svg#icon-check"></use>
									</svg>
								</div>
								<p class="checkbox__text">
									<b>
										50 EUR
									</b>
									улучшенный номер
								</p>
							</label>
							<label class="checkbox">
								<input type="checkbox">
								<div class="checkbox__icon">
									<svg class="icon-svg">
										<use xlink:href="img/sprites/svg/symbols.svg#icon-check"></use>
									</svg>
								</div>
								<p class="checkbox__text">
									<b>
										20 EUR
									</b>
									кондиционер
								</p>
							</label>
						</div>
					</div>
					<div class="hotel__control">
						<a href="#" class="btn btn--dark hotel__btn">
							Далее
						</a>
						<div class="btn btn--light hotel__btn hotel__close">
							Отменить
						</div>
					</div>
				</div>
			</article>
			<article class="hotel hotel--2 tour-booking__hotel">
				<div class="hotel__top-part">
					<div class="hotel__columns">
						<div class="hotel__thumb">
							<img src="img/hotel-thumb.jpg" alt="Превью отеля">
						</div>
						<div class="hotel__about">
							<h3 class="hotel__title">
								Апарт-отель “Andalousie”
							</h3>
							<div class="hotel__control">
								<div class="price hotel__price">
									<span class="price__start">
										от
									</span>
									<span class="price__money">
										240
									</span>
									<span class="price__currency">
										EUR
									</span>
								</div>
								<div class="btn btn--light hotel__open">
									Подробнее
								</div>
							</div>

							<p class="hotel__price-info">
								Цена указана за размещение одного человека в <br>стандартном двухместном номере без питания.
							</p>
						</div>
					</div>
				</div>
				<div class="hotel__bottom-part">
					<div class="hotel__discript">
						<p>
							Обзорная пешеходная экскурсия по Копенгагену, 2 часа (групповая) Вы увидите самые интересные достопримечательности Копенгагена: красивое здание датского Парламента - Кристьянсборг, величественный дворец королевы Маргарет - Амалиенборг, памятник епископу Абсалону - основателю города, Квартал Нюхавн (Новая Гавань), дом Андерсена, памятник Русалочке, Мраморную церковь, фонтан Гефьён и другие места этого Сказочного города.
						</p>
					</div>
					<div class="hotel__slider thumbs-slider">
						<div class="swiper-container thumbs-slider__top">
							<div class="swiper-wrapper thumbs-slider__wrapper-top">
								<div class="swiper-slide thumbs-slider__top-slide" style="background-image:url(http://placehold.it/1000x600)">
									<img src="http://placehold.it/1000x600" alt="Изображение слайдера">
								</div>
								<div class="swiper-slide thumbs-slider__top-slide" style="background-image:url(http://placehold.it/1000x600)">
									<img src="http://placehold.it/1000x600" alt="Изображение слайдера">
								</div>
								<div class="swiper-slide thumbs-slider__top-slide" style="background-image:url(http://placehold.it/1000x600)">
									<img src="http://placehold.it/1000x600" alt="Изображение слайдера">
								</div>
								<div class="swiper-slide thumbs-slider__top-slide" style="background-image:url(http://placehold.it/1000x600)">
									<img src="http://placehold.it/1000x600" alt="Изображение слайдера">
								</div>
								<div class="swiper-slide thumbs-slider__top-slide" style="background-image:url(http://placehold.it/1000x600)">
									<img src="http://placehold.it/1000x600" alt="Изображение слайдера">
								</div>
								<div class="swiper-slide thumbs-slider__top-slide" style="background-image:url(http://placehold.it/1000x600)">
									<img src="http://placehold.it/1000x600" alt="Изображение слайдера">
								</div>
								<div class="swiper-slide thumbs-slider__top-slide" style="background-image:url(http://placehold.it/1000x600)">
									<img src="http://placehold.it/1000x600" alt="Изображение слайдера">
								</div>
								<div class="swiper-slide thumbs-slider__top-slide" style="background-image:url(http://placehold.it/1000x600)">
									<img src="http://placehold.it/1000x600" alt="Изображение слайдера">
								</div>
								<div class="swiper-slide thumbs-slider__top-slide" style="background-image:url(http://placehold.it/1000x600)">
									<img src="http://placehold.it/1000x600" alt="Изображение слайдера">
								</div>
								<div class="swiper-slide thumbs-slider__top-slide" style="background-image:url(http://placehold.it/1000x600)">
									<img src="http://placehold.it/1000x600" alt="Изображение слайдера">
								</div>
							</div>
						</div>
						<div class="thumbs-slider__thumbs">
							<div class="thumbs-slider__thumbs-top">
								<svg class="icon-svg">
									<use xlink:href="img/sprites/svg/symbols.svg#icon-next"></use>
								</svg>
							</div>
							<div class="swiper-container thumbs-slider__thumbs-container">
								<div class="swiper-wrapper thumbs-slider__wrapper-thumbs">
									<div class="swiper-slide thumbs-slider__thumbs-slide" style="background-image:url(http://placehold.it/1000x600)">
										<img src="http://placehold.it/1000x600" alt="Изображение слайдера">
									</div>
									<div class="swiper-slide thumbs-slider__thumbs-slide" style="background-image:url(http://placehold.it/1000x600)">
										<img src="http://placehold.it/1000x600" alt="Изображение слайдера">
									</div>
									<div class="swiper-slide thumbs-slider__thumbs-slide" style="background-image:url(http://placehold.it/1000x600)">
										<img src="http://placehold.it/1000x600" alt="Изображение слайдера">
									</div>
									<div class="swiper-slide thumbs-slider__thumbs-slide" style="background-image:url(http://placehold.it/1000x600)">
										<img src="http://placehold.it/1000x600" alt="Изображение слайдера">
									</div>
									<div class="swiper-slide thumbs-slider__thumbs-slide" style="background-image:url(http://placehold.it/1000x600)">
										<img src="http://placehold.it/1000x600" alt="Изображение слайдера">
									</div>
									<div class="swiper-slide thumbs-slider__thumbs-slide" style="background-image:url(http://placehold.it/1000x600)">
										<img src="http://placehold.it/1000x600" alt="Изображение слайдера">
									</div>
									<div class="swiper-slide thumbs-slider__thumbs-slide" style="background-image:url(http://placehold.it/1000x600)">
										<img src="http://placehold.it/1000x600" alt="Изображение слайдера">
									</div>
									<div class="swiper-slide thumbs-slider__thumbs-slide" style="background-image:url(http://placehold.it/1000x600)">
										<img src="http://placehold.it/1000x600" alt="Изображение слайдера">
									</div>
									<div class="swiper-slide thumbs-slider__thumbs-slide" style="background-image:url(http://placehold.it/1000x600)">
										<img src="http://placehold.it/1000x600" alt="Изображение слайдера">
									</div>
									<div class="swiper-slide thumbs-slider__thumbs-slide" style="background-image:url(http://placehold.it/1000x600)">
										<img src="http://placehold.it/1000x600" alt="Изображение слайдера">
									</div>
								</div>
							</div>
							<div class="thumbs-slider__thumbs-bottom">
								<svg class="icon-svg">
									<use xlink:href="img/sprites/svg/symbols.svg#icon-next"></use>
								</svg>
							</div>
						</div>
					</div>
					<div class="hotel__map">
						<p class="hotel__map-title">
							Отель на карте
						</p>
						<div class="hotel__map-content" id="hotel-map-position-2">

						</div>
						<script>
							document.addEventListener('DOMContentLoaded', function() {
								var myMap;

								ymaps.ready(init);

								function init () {
									myMap = new ymaps.Map('hotel-map-position-2', {

										center: [55.76, 37.64],
										zoom: 10
									}, {
										searchControlProvider: 'yandex#search'
									});
								}
							}, false);

						</script>
					</div>
					<div class="hotel__selects">
						<div class="hotel__select">
							<p class="hotel__select-title">
								Питание:
							</p>
							<label class="radio">
								<input type="radio" name="hotel-radio" checked>
								<div class="radio__icon">
									<div class="radio__icon-point"></div>
								</div>
								<p class="radio__text">
									<b>
										0 EUR 
									</b>
									без питания
								</p>
							</label>
							<label class="radio">
								<input type="radio" name="hotel-radio">
								<div class="radio__icon">
									<div class="radio__icon-point"></div>
								</div>
								<p class="radio__text">
									<b>
										20 EUR 
									</b>
									завтраки
								</p>
							</label>
							<label class="radio">
								<input type="radio" name="hotel-radio">
								<div class="radio__icon">
									<div class="radio__icon-point"></div>
								</div>
								<p class="radio__text">
									<b>
										70 EUR 
									</b>
									завтраки и ужины
								</p>
							</label>
						</div>
						<div class="hotel__select">
							<p class="hotel__select-title">
								Размещение
							</p>
							<label class="checkbox">
								<input type="checkbox">
								<div class="checkbox__icon">
									<svg class="icon-svg">
										<use xlink:href="img/sprites/svg/symbols.svg#icon-check"></use>
									</svg>
								</div>
								<p class="checkbox__text">
									<b>
										50 EUR
									</b>
									улучшенный номер
								</p>
							</label>
							<label class="checkbox">
								<input type="checkbox">
								<div class="checkbox__icon">
									<svg class="icon-svg">
										<use xlink:href="img/sprites/svg/symbols.svg#icon-check"></use>
									</svg>
								</div>
								<p class="checkbox__text">
									<b>
										20 EUR
									</b>
									кондиционер
								</p>
							</label>
						</div>
					</div>
					<div class="hotel__control">
						<a href="#" class="btn btn--dark hotel__btn">
							Далее
						</a>
						<div class="btn btn--light hotel__btn hotel__close">
							Отменить
						</div>
					</div>
				</div>
			</article>
			<article class="hotel hotel--3 tour-booking__hotel">
				<div class="hotel__top-part">
					<div class="hotel__columns">
						<div class="hotel__thumb">
							<img src="img/hotel-thumb.jpg" alt="Превью отеля">
						</div>
						<div class="hotel__about">
							<h3 class="hotel__title">
								Апарт-отель “Andalousie”
							</h3>
							<div class="hotel__control">
								<div class="price hotel__price">
									<span class="price__start">
										от
									</span>
									<span class="price__money">
										240
									</span>
									<span class="price__currency">
										EUR
									</span>
								</div>
								<div class="btn btn--light hotel__open">
									Подробнее
								</div>
							</div>

							<p class="hotel__price-info">
								Цена указана за размещение одного человека в <br>стандартном двухместном номере без питания.
							</p>
						</div>
					</div>
				</div>
				<div class="hotel__bottom-part">
					<div class="hotel__discript">
						<p>
							Обзорная пешеходная экскурсия по Копенгагену, 2 часа (групповая) Вы увидите самые интересные достопримечательности Копенгагена: красивое здание датского Парламента - Кристьянсборг, величественный дворец королевы Маргарет - Амалиенборг, памятник епископу Абсалону - основателю города, Квартал Нюхавн (Новая Гавань), дом Андерсена, памятник Русалочке, Мраморную церковь, фонтан Гефьён и другие места этого Сказочного города.
						</p>
					</div>
					<div class="hotel__slider thumbs-slider">
						<div class="swiper-container thumbs-slider__top">
							<div class="swiper-wrapper thumbs-slider__wrapper-top">
								<div class="swiper-slide thumbs-slider__top-slide" style="background-image:url(http://placehold.it/1000x600)">
									<img src="http://placehold.it/1000x600" alt="Изображение слайдера">
								</div>
								<div class="swiper-slide thumbs-slider__top-slide" style="background-image:url(http://placehold.it/1000x600)">
									<img src="http://placehold.it/1000x600" alt="Изображение слайдера">
								</div>
								<div class="swiper-slide thumbs-slider__top-slide" style="background-image:url(http://placehold.it/1000x600)">
									<img src="http://placehold.it/1000x600" alt="Изображение слайдера">
								</div>
								<div class="swiper-slide thumbs-slider__top-slide" style="background-image:url(http://placehold.it/1000x600)">
									<img src="http://placehold.it/1000x600" alt="Изображение слайдера">
								</div>
								<div class="swiper-slide thumbs-slider__top-slide" style="background-image:url(http://placehold.it/1000x600)">
									<img src="http://placehold.it/1000x600" alt="Изображение слайдера">
								</div>
								<div class="swiper-slide thumbs-slider__top-slide" style="background-image:url(http://placehold.it/1000x600)">
									<img src="http://placehold.it/1000x600" alt="Изображение слайдера">
								</div>
								<div class="swiper-slide thumbs-slider__top-slide" style="background-image:url(http://placehold.it/1000x600)">
									<img src="http://placehold.it/1000x600" alt="Изображение слайдера">
								</div>
								<div class="swiper-slide thumbs-slider__top-slide" style="background-image:url(http://placehold.it/1000x600)">
									<img src="http://placehold.it/1000x600" alt="Изображение слайдера">
								</div>
								<div class="swiper-slide thumbs-slider__top-slide" style="background-image:url(http://placehold.it/1000x600)">
									<img src="http://placehold.it/1000x600" alt="Изображение слайдера">
								</div>
								<div class="swiper-slide thumbs-slider__top-slide" style="background-image:url(http://placehold.it/1000x600)">
									<img src="http://placehold.it/1000x600" alt="Изображение слайдера">
								</div>
							</div>
						</div>
						<div class="thumbs-slider__thumbs">
							<div class="thumbs-slider__thumbs-top">
								<svg class="icon-svg">
									<use xlink:href="img/sprites/svg/symbols.svg#icon-next"></use>
								</svg>
							</div>
							<div class="swiper-container thumbs-slider__thumbs-container">
								<div class="swiper-wrapper thumbs-slider__wrapper-thumbs">
									<div class="swiper-slide thumbs-slider__thumbs-slide" style="background-image:url(http://placehold.it/1000x600)">
										<img src="http://placehold.it/1000x600" alt="Изображение слайдера">
									</div>
									<div class="swiper-slide thumbs-slider__thumbs-slide" style="background-image:url(http://placehold.it/1000x600)">
										<img src="http://placehold.it/1000x600" alt="Изображение слайдера">
									</div>
									<div class="swiper-slide thumbs-slider__thumbs-slide" style="background-image:url(http://placehold.it/1000x600)">
										<img src="http://placehold.it/1000x600" alt="Изображение слайдера">
									</div>
									<div class="swiper-slide thumbs-slider__thumbs-slide" style="background-image:url(http://placehold.it/1000x600)">
										<img src="http://placehold.it/1000x600" alt="Изображение слайдера">
									</div>
									<div class="swiper-slide thumbs-slider__thumbs-slide" style="background-image:url(http://placehold.it/1000x600)">
										<img src="http://placehold.it/1000x600" alt="Изображение слайдера">
									</div>
									<div class="swiper-slide thumbs-slider__thumbs-slide" style="background-image:url(http://placehold.it/1000x600)">
										<img src="http://placehold.it/1000x600" alt="Изображение слайдера">
									</div>
									<div class="swiper-slide thumbs-slider__thumbs-slide" style="background-image:url(http://placehold.it/1000x600)">
										<img src="http://placehold.it/1000x600" alt="Изображение слайдера">
									</div>
									<div class="swiper-slide thumbs-slider__thumbs-slide" style="background-image:url(http://placehold.it/1000x600)">
										<img src="http://placehold.it/1000x600" alt="Изображение слайдера">
									</div>
									<div class="swiper-slide thumbs-slider__thumbs-slide" style="background-image:url(http://placehold.it/1000x600)">
										<img src="http://placehold.it/1000x600" alt="Изображение слайдера">
									</div>
									<div class="swiper-slide thumbs-slider__thumbs-slide" style="background-image:url(http://placehold.it/1000x600)">
										<img src="http://placehold.it/1000x600" alt="Изображение слайдера">
									</div>
								</div>
							</div>
							<div class="thumbs-slider__thumbs-bottom">
								<svg class="icon-svg">
									<use xlink:href="img/sprites/svg/symbols.svg#icon-next"></use>
								</svg>
							</div>
						</div>
					</div>
					<div class="hotel__map">
						<p class="hotel__map-title">
							Отель на карте
						</p>
						<div class="hotel__map-content" id="hotel-map-position-3">

						</div>
						<script>
							document.addEventListener('DOMContentLoaded', function() {
								var myMap;

								ymaps.ready(init);

								function init () {
									myMap = new ymaps.Map('hotel-map-position-3', {

										center: [55.76, 37.64],
										zoom: 10
									}, {
										searchControlProvider: 'yandex#search'
									});
								}
							}, false);

						</script>
					</div>
					<div class="hotel__selects">
						<div class="hotel__select">
							<p class="hotel__select-title">
								Питание:
							</p>
							<label class="radio">
								<input type="radio" name="hotel-radio" checked>
								<div class="radio__icon">
									<div class="radio__icon-point"></div>
								</div>
								<p class="radio__text">
									<b>
										0 EUR 
									</b>
									без питания
								</p>
							</label>
							<label class="radio">
								<input type="radio" name="hotel-radio">
								<div class="radio__icon">
									<div class="radio__icon-point"></div>
								</div>
								<p class="radio__text">
									<b>
										20 EUR 
									</b>
									завтраки
								</p>
							</label>
							<label class="radio">
								<input type="radio" name="hotel-radio">
								<div class="radio__icon">
									<div class="radio__icon-point"></div>
								</div>
								<p class="radio__text">
									<b>
										70 EUR 
									</b>
									завтраки и ужины
								</p>
							</label>
						</div>
						<div class="hotel__select">
							<p class="hotel__select-title">
								Размещение
							</p>
							<label class="checkbox">
								<input type="checkbox">
								<div class="checkbox__icon">
									<svg class="icon-svg">
										<use xlink:href="img/sprites/svg/symbols.svg#icon-check"></use>
									</svg>
								</div>
								<p class="checkbox__text">
									<b>
										50 EUR
									</b>
									улучшенный номер
								</p>
							</label>
							<label class="checkbox">
								<input type="checkbox">
								<div class="checkbox__icon">
									<svg class="icon-svg">
										<use xlink:href="img/sprites/svg/symbols.svg#icon-check"></use>
									</svg>
								</div>
								<p class="checkbox__text">
									<b>
										20 EUR
									</b>
									кондиционер
								</p>
							</label>
						</div>
					</div>
					<div class="hotel__control">
						<a href="#" class="btn btn--dark hotel__btn">
							Далее
						</a>
						<div class="btn btn--light hotel__btn hotel__close">
							Отменить
						</div>
					</div>
				</div>
			</article>
		</div>
		
	</div>
</section>