<section class="tour">
	<div class="container container--columns">
		<div class="slider content tour__slider swiper-container">
			<div class="swiper-wrapper">
				<div class="swiper-slide slider__slide">
					<img src="http://placehold.it/1000x600" alt="Изображение в слайдере">
				</div>
				<div class="swiper-slide slider__slide">
					<img src="http://placehold.it/1000x600" alt="Изображение в слайдере">
				</div>
				<div class="swiper-slide slider__slide">
					<img src="http://placehold.it/1000x600" alt="Изображение в слайдере">
				</div>
				<div class="swiper-slide slider__slide">
					<img src="http://placehold.it/1000x600" alt="Изображение в слайдере">
				</div>
				<div class="swiper-slide slider__slide">
					<img src="http://placehold.it/1000x600" alt="Изображение в слайдере">
				</div>
			</div>
			<div class="slider__nav">
				<div class="slider__btn slider__btn--prev">
					<svg class="icon-svg">
						<use xlink:href="img/sprites/svg/symbols.svg#icon-next"></use>
					</svg>
				</div>
				<div class="slider__btn slider__btn--next">
					<svg class="icon-svg">
						<use xlink:href="img/sprites/svg/symbols.svg#icon-next"></use>
					</svg>
				</div>
			</div>
		</div>
		<div class="tour__content aside">
			<h2 class="h1 tour__h1">
				Тур "Прага-Дрезден"
			</h2>
			<div class="tour__dates">
				<p class="tour__dates-title">
					Даты выезда:
				</p>
				<p class="tour__dates-ul">
					25-04-2019, 25-06-2019, 25-09-2019
				</p>
			</div>
			<div class="tour__price">
				<span class="tour__money">245</span>
				<span class="tour__currency">EUR</span>
			</div>
			<div class="tour__info">
				<p>
					С человека в 2-х местном стандартном номере при условии приобретения экскурсионного пакета Высокие Татры и Краков (35 EUR)
				</p>
				<br>
				<p>
					<strong>Длительность:</strong> 6 дней
				</p>
			</div>
			<a href="#" class="btn btn--dark tour__btn">
				Забронировать
			</a>
		</div>
	</div>
</section>