<section class="text section-anchor" id="tips">
	<h2 class="h2 text__h2">
		Полезные советы
	</h2>
	<div class="text__content">
		<p>1. Несмотря на высокую безопасность пребывания в стране, туристы не застрахованы от действий карманников. Кредитные карты, деньги и документы лучше хранить во внутренних карманах. </p>
		<p>2. На юго-западе страны распространены клещи, а потому любителям пеших прогулок по лесу следует перед поездкой в Германию сделать прививку от клещевого энцефалита. </p>
		<p>3. Нацизм является острой темой для германского общества, даже шутки на эту тему караются здесь административным наказанием, а за использование нацисткой символики в Германии могут посадить в тюрьму. </p>
		<p>4. В качестве чаевых официантам принято оставлять 7-10% от стоимости чека. Если чек не превышает 5 евро, то обычно «на чай» оставляют 1 евро. </p>
		<p>5. Метро в Германии начинает работу с 4 часов утра и закрывается около полуночи. </p>
		<p>6. В общественных местах в Германии считается дурным тоном активная жестикуляция или открытое выражение эмоций. Такое поведение вызовет осуждающие взгляды окружающих. </p>
		<p>10. Немцы очень рано ложатся спать, а потому не стоит шуметь после 21 часа. В противном случае соседи без лишних предупреждений и просьб вызовут полицию. </p>
		<p>11. Большинство музеев в Германии закрыто по понедельникам. Зато во вторник и среду они ждут посетителей до позднего вечера. </p>
		<p>12. Немцы очень приветливы и хорошо относятся к путешественникам, они с готовностью подскажут дорогу или помогут советом. Однако важно соблюдать правила общения – к незнакомому человеку нужно обращаться Herr («господин») или Frau («госпожа»), к тому же, в Германии принято обращаться друг к другу по фамилиям. </p>
		<p>13. Немцы обладают довольно специфическим чувством юмора, поэтому с ними лучше не шутить – они могут воспринимать шутки буквально, что повлечет создание неловкой ситуации. </p>
		<p>14. В каждом городе Германии имеются телефонные будки, откуда туристы могут позвонить в любую точку земного шара. Для удобства рядом лежат телефонные справочники. Оплатить услугу можно монетами, телефонными или банковскими картами. </p>
		<p>15. Вода из-под крана считается в Германии питьевой, однако она может иметь довольно специфический привкус.</p>
	</div>
</section>