<section class="tour-booking">
	<h2 class="h2 tour-booking__h2">
		Бронирование
	</h2>
	<div class="tour-booking__step tour-booking__step--1">
		<div class="tour-booking__left">
			<div class="step-title">
				<p class="step-title__number">
					1
				</p>
				<p class="step-title__discript">
					Дата отправления
				</p>
			</div>
		</div>
		<div class="tour-booking__right">2</div>
	</div>
	<div class="tour-booking__step tour-booking__step--2">
		<div class="tour-booking__left">
			<div class="step-title">
				<p class="step-title__number">
					2
				</p>
				<p class="step-title__discript">
					Размещение
				</p>
			</div>
		</div>
		<div class="tour-booking__right">2</div>
	</div>
	<div class="tour-booking__step tour-booking__step--3">
		<div class="tour-booking__left">
			<div class="step-title">
				<p class="step-title__number">
					3
				</p>
				<p class="step-title__discript">
					Желаемый отель
				</p>
			</div>
		</div>
		<div class="tour-booking__right">
			<div class="hotel tour-booking__hotel">
				<div class="hotel__columns">
					<div class="hotel__thumb">
						<img src="img/hotel-thumb.jpg" alt="Превью отеля">
					</div>
					<div class="hotel__about">
						<h3 class="hotel__title">
							Апарт-отель “Andalousie”
						</h3>
						<div class="price hotel__price">
							<span class="price__start">
								от
							</span>
							<span class="price__money">
								240
							</span>
							<span class="price__currency">
								EUR
							</span>
						</div>
						<p class="hotel__price-info">
							Цена указана за размещение одного человека в <br>стандартном двухместном номере без питания.
						</p>
					</div>
				</div>
				<div class="hotel__discript">
					<p>
						Обзорная пешеходная экскурсия по Копенгагену, 2 часа (групповая) Вы увидите самые интересные достопримечательности Копенгагена: красивое здание датского Парламента - Кристьянсборг, величественный дворец королевы Маргарет - Амалиенборг, памятник епископу Абсалону - основателю города, Квартал Нюхавн (Новая Гавань), дом Андерсена, памятник Русалочке, Мраморную церковь, фонтан Гефьён и другие места этого Сказочного города.
					</p>
				</div>
				<div class="hotel__slider">

				</div>
			</div>
			<article class="hotel-article">
				<div class="hotel-article__thumb">
					<img src="img/hotel-thumb.jpg" alt="Превью отеля">
				</div>
				<div class="hotel-article__content">
					<p class="hotel-article__title">
						Апарт-отель “Andalousie”
					</p>
					<p class="hotel-article__text">
						Цена указана за размещение одного человека в стандартном двухместном номере без питания.
					</p>
				</div>
				<div class="hotel-article__info">
					<div class="price hotel-article__price">
						<span class="price__start">
							от
						</span>
						<span class="price__money">
							240
						</span>
						<span class="price__currency">
							EUR
						</span>
					</div>
					<a href="#" class="btn btn--light hotel-article__btn">
						Подробнее
					</a>
				</div>
			</article>
			<article class="hotel-article">
				<div class="hotel-article__thumb">
					<img src="img/hotel-thumb.jpg" alt="Превью отеля">
				</div>
				<div class="hotel-article__content">
					<p class="hotel-article__title">
						Апарт-отель “Andalousie”
					</p>
					<p class="hotel-article__text">
						Цена указана за размещение одного человека в стандартном двухместном номере без питания.
					</p>
				</div>
				<div class="hotel-article__info">
					<div class="price hotel-article__price">
						<span class="price__start">
							от
						</span>
						<span class="price__money">
							240
						</span>
						<span class="price__currency">
							EUR
						</span>
					</div>
					<a href="#" class="btn btn--light hotel-article__btn">
						Подробнее
					</a>
				</div>
			</article>
			<article class="hotel-article">
				<div class="hotel-article__thumb">
					<img src="img/hotel-thumb.jpg" alt="Превью отеля">
				</div>
				<div class="hotel-article__content">
					<p class="hotel-article__title">
						Апарт-отель “Andalousie”
					</p>
					<p class="hotel-article__text">
						Цена указана за размещение одного человека в стандартном двухместном номере без питания.
					</p>
				</div>
				<div class="hotel-article__info">
					<div class="price hotel-article__price">
						<span class="price__start">
							от
						</span>
						<span class="price__money">
							240
						</span>
						<span class="price__currency">
							EUR
						</span>
					</div>
					<a href="#" class="btn btn--light hotel-article__btn">
						Подробнее
					</a>
				</div>
			</article>
		</div>
		
	</div>
</section>