.social {
	&__title {
		margin-bottom: 5px;
	}
	&__link {
		background-color: $accent;
		border-radius: 6px;
		display: inline-flex;
		margin-right: 2px;
		height: 24px;
		width: 24px;
		align-items: center;
		justify-content: center;
		svg {
			fill: $light;
		}
		&:hover {
			opacity: 0.75;
		}
	}
}

.btn {
	border-radius: 6px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	transition: 0.3s all;
	cursor: pointer;
	&:hover {
		opacity: 0.75;
	}
	&--contrast {
		border: 2px solid $dark;
		color: $dark;
	}
	&--light {
		border: 2px solid $accent;
		color: $dark;
	}
	&--dark {
		color: $light;
		background-color: $accent;
		border: 2px solid $accent;
	}
	&--black {
		color: $dark;
		border: 2px solid $dark;
	}
	&--disabled {
		pointer-events: none;
		cursor: auto;
		color: $light;
		background-color: #E4DFDB;
		border-color: #E4DFDB;
	}
}

.breadcrumbs {
	font-size: 14px;
	padding-top: 23px;
	padding-bottom: 14px;
	width: 100%;
	@include r(780) {
		display: none;
	}
	&__container {
		display: flex;
		align-items: center;
		color: #7C7169;
	}
	&__link {
		&:hover {
			color: $accent;
		}	
	}
	&__now {
		color: $accent;
	}
	svg {
		margin-left: 6px;
		margin-right: 6px;
		fill: $accent;
		height: 10px;
		width: 10px;
	}
}

.slider {
	width: 686px;
	height: 420px;
	position: relative;
	@include r(600) {
		height: 300px;
	}
	@include r(450) {
		height: 200px;
	}
	&--100 {
		width: 100%;
	}
	&__slide {
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__nav {
		position: absolute;
		z-index: 2;
		bottom: 4px;
		right: 4px;
		display: none;
		&--active {
			display: flex;
		}
	}
	&__btn {
		height: 40px;
		width: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-shrink: 0;
		cursor: pointer;
		background-color: $dark;
		transition: 0.3s all;
		outline: none;
		&:hover {
			background-color: $light;
		}
		svg {
			fill: $accent;
			height: 18px;
			width: 18px;
		}
		&--prev {
			svg {
				transform: rotate(180deg);
			}
		}
		&--inactive {
			opacity: 0.75;
			cursor: auto;
			&:hover {
				background-color: $dark;
			}
		}
	}
}

.step-title {
	text-align: center;
	@include r(1200) {
		display: flex;
		width: 100%;
		align-items: center;
	}
	&__number {
		font-size: 34px;
		line-height: 45px;
		@include r(1200) {
			margin-right: 15px;
		}
	}
	&__discript {
		font-size: 14px;
	}
}

.warning {
	display: flex;
	align-items: center;
	margin-bottom: 33px;
	padding-top: 14px;
	&__thumb {
		flex-shrink: 0;
		width: 40px;
		height: 36px;
		margin-right: 17px;
	}
	&__text {

	}
}

.payment {
	padding-top: 120px;
	margin-bottom: 130px;
	&__header {
		display: flex;
		align-items: center;
		margin-bottom: 60px;
		svg {
			fill: #339B08;
			width: 30px;
			height: 30px;
			margin-right: 28px;
			flex-shrink: 0;
			@include r(780) {
				display: none;
			}
		}
	}
	&__btn {
		height: 40px;
		padding-left: 40px;
		padding-right: 40px;
		margin-right: 12px;
		margin-bottom: 16px;
	}
}

.faq {
	border-radius: 6px;
	border: 2px solid #F9F5F1;
	cursor: pointer;
	margin-bottom: 15px;
	&__header {
		background-color: #F9F5F1;
		padding: 18px 19px 17px 19px;

	}
	&__bottom {
		max-height: 0px;
		overflow: hidden;
		transition: 0.3s all;
	}
	&__content {
		padding: 20px 19px 20px 19px;
	}
	&--active {
		.faq__bottom {
			max-height: 5000px;
		}
	}
}