.price {
	&__start {
		font-size: 16px;
	}
	&__money {
		font-size: 34px;
		font-weight: 500;
		margin-right: -5px;
	}
	&__currency {
		font-size: 18px;
	}
}

.close {
	display: inline-flex;
	width: 16px;
	height: 16px;
	padding: 8px;
	align-items: center;
	justify-content: space-between;
	transition: 0.3s all;
	box-sizing: content-box;
	svg {
		width: 16px;
		height: 16px;
		fill: $dark;
	}
	&:hover {
		svg {
			fill: $accent;
		}
	}
}

.label {
	display: block;
	text-align: left;
	margin-bottom: 16px;
	&__title {
		margin-bottom: 6px;
		color: #7C7169;
		line-height: 21px;
		&--required {
			&:after {
				content: "*";
				color: $accent;
				display: inline-block;
			}
		}
	}
}

.input {
	border: 1px solid #E4DFDB;
	box-sizing: border-box;
	border-radius: 6px;
	padding-left: 9px;
	padding-right: 9px;
	color: $dark;
	height: 40px;
	outline: none;
	width: 100%;
}

.radio {
	height: 38px;
	align-items: center;
	display: flex;
	transition: 0.3s all;
	&__text {
		font-size: 14px;
		b {
			font-weight: 500;
		}
	}
	&__icon {
		display: flex;
		height: 14px;
		width: 14px;
		border: 1px solid #BBB0A9;
		box-sizing: border-box;
		border-radius: 20px;
		margin-right: 10px;
		justify-content: center;
		align-items: center;
		background-color: $light;
		flex-shrink: 0;
	}
	&__icon-point {
		background-color: $accent;
		display: block;
		border-radius: 10px;
		height: 4px;
		width: 4px;
		opacity: 0;
		transition: 0.3s all;
	}
	input {
		display: none;
		overflow: hidden;
		height: 0px;
		width: 0px;
	}
	input:checked + .radio__icon {
		border-color: $accent;
		.radio__icon-point {
			opacity: 1;
		}
	}
}

.checkbox {
	height: 38px;
	align-items: center;
	display: flex;
	transition: 0.3s all;
	@include r(780) {
		height: auto;
	}
	&__text {
		font-size: 14px;
		b {
			font-weight: 500;
		}
		a {
			color: $accent;
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}
		&--line {
			display: flex;
			justify-content: space-between;
			width: 100%;
			color: $dark;
			@include r(780) {
				display: block;
			}
			a {
				font-style: italic;
			}
		}
	}
	&__icon {
		display: flex;
		height: 14px;
		width: 14px;
		border: 1px solid #BBB0A9;
		box-sizing: border-box;
		margin-right: 10px;
		justify-content: center;
		align-items: center;
		background-color: $light;
		flex-shrink: 0;
	}
	svg {
		opacity: 0;
		width: 10px;
		height: 10px;
		fill: $accent;
	}
	input {
		display: none;
		overflow: hidden;
		height: 0px;
		width: 0px;
		flex-shrink: 0;
	}
	input:checked + .checkbox__icon {
		border-color: $accent;
		svg {
			opacity: 1;
		}
	}
}

.select {
	display: flex;
	font-size: 14px;
	&__text {
		margin-right: 5px;
	}
	&__form {
		border: 1px solid #E4DFDB;
		padding-left: 4px;
		padding-right: 5px;
		outline: none;
		width: 38px;
		-webkit-appearance: none;
		background-image: url('../img/icons/select-bg.png');
		background-repeat: no-repeat;
		background-position: 80% center;
	}
}

.filter {
	margin-bottom: 46px;
	@include r(780) {
		padding-top: 30px;
	}
	&__body {

	}
	&__nav {
		display: flex;
		flex-wrap: wrap;
	}
	&__tab {
		border-radius: 6px 6px 0px 0px;
		padding: 11px 41px 11px 41px;
		background-color: #7C7169;
		color: $light;
		flex-shrink: 0;
		position: relative;
		transition: 0.3s all;
		cursor: pointer;
		@include r(780) {
			display: block;
			width: 100%;
			text-align: center;
		}
		&--1 {
			z-index: 2;
			@include r(780) {
				border-radius: 6px 6px 0px 0px;
			}
		}
		&--2 {
			@include r(780) {
				border-radius: 0;
			}
		}
		&--active {
			background-color: $dark;
			// order: -1;
			margin-right: -8px;
			pointer-events: none;
			@include r(780) {
				
			}
		}
		&:hover {
			opacity: 0.75;
		}
	}
	&__sidebar {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	&__content {
		padding-top: 25px;
		padding-left: 33px;
		padding-bottom: 17px;
		padding-right: 33px;
		background-color: $dark;
		display: flex;
		border-radius: 0px 6px 6px 6px;
		@include r(1200) {
			flex-wrap: wrap;
			justify-content: space-between;
		}
		@include r(780) {
			border-radius: 0px 0px 6px 6px;
		}
		&--hide {
			display: none;
		}
	}
	&__select {
		height: 40px;
		padding-left: 10px;
		outline: none;
		font-size: 16px;
		background-image: url('../img/icons/select-bg-right.png');
		background-repeat: no-repeat;
		background-position: 94% center;
		cursor: pointer;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		border-radius: 6px;
		&--line {
			margin-right: 20px;
			width: 205px;
			@include r(1200) {
				width: calc(50% - 8px);
				margin-right: 0px;
				margin-bottom: 10px;
			}
			@include r(780) {
				width: 100%;
			}
		}
		&--big-line {
			width: 284px;
		}
		&--100 {
			width: 100%;
		}
	}
	&__date {
		margin-right: 20px;
		border-radius: 6px;
		border: 0px;
		outline: none;
		color: $dark;
		padding-left: 10px;
		padding-right: 10px;
		font-size: 16px;
		background-image: url('../img/icons/datepicker-bg.png');
		background-repeat: no-repeat;
		background-position: 94% center;
		cursor: pointer;
		height: 40px;
		&::placeholder {
			color: $dark;
		}
		@include r(780) {
			width: 100%;
			margin-right: 0px;
			margin-bottom: 10px;
		}
		&--side {
			width: 100%;
			box-sizing: border-box;
			margin-right: 0px;
		}
	}
	&__btn {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 40px;
		flex-grow: 1;
		color: $light;
		border-radius: 6px;
		background-color: $accent;
		font-size: 16px;
		border: 0px;
		transition: 0.3s all;
		&:hover {
			opacity: 0.75;
		}
		@include r(780) {
			width: 100%;
		}
	}
	&__label {
		width: 100%;
		margin-bottom: 20px;
		&--50 {
			width: calc(50% - 10px);
			@include r(780) {
				width: 100%;
			}
		}
	}
	&__label-title {
		margin-bottom: 5px;
	}
}

.pagination {
	display: flex;
	align-items: center;
	@include r(780) {
		justify-content: center;
	}
	&__link {
		height: 34px;
		display: flex;
		align-items: center;
		font-weight: 500;
		padding-left: 10px;
		padding-right: 10px;
		&:hover {
			color: $accent;
		}
		&--now {
			padding-left: 25px;
			padding-right: 25px;
			position: relative;
			margin-left: 10px;
			margin-right: 10px;
			pointer-events: none;
			&:before {
				position: absolute;
				left: 0px;
				top: 0px;
				bottom: 0px;
				width: 13px;
				content: "";
				display: block;
				border-left: 2px solid $accent;
				border-top: 2px solid $accent;
				border-bottom: 2px solid $accent;
				border-radius: 6px 0px 0px 6px;
			}
			&:after {
				position: absolute;
				right: 0px;
				top: 0px;
				bottom: 0px;
				width: 13px;
				content: "";
				display: block;
				border-right: 2px solid $accent;
				border-top: 2px solid $accent;
				border-bottom: 2px solid $accent;
				border-radius: 0px 6px 6px 0px;
			}
		}
	}
	&__prev {
		height: 34px;
		display: flex;
		align-items: center;
		margin-right: 10px;
		svg {
			transform: rotate(180deg);
			height: 18px;
			width: 18px;
			fill: $accent;
		}
		&:hover {
			opacity: 0.75;
		}
	}
	&__next {
		height: 34px;
		display: flex;
		align-items: center;
		margin-left: 10px;
		svg {
			height: 18px;
			width: 18px;
			fill: $accent;
		}
		&:hover {
			opacity: 0.75;
		}
	}
}

.rater {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 60px;
	margin-left: auto;
	margin-right: auto;
	&__input {
		width: 15px;
		text-align: center;
		background: none;
		font-size: 14px;
		color: $light;
		border: none;
		pointer-events: none;
	}
	&__link {
		cursor: pointer;
		svg {
			fill: $accent;
			display: block;
			width: 14px;
			height: 14px;
		}
		&--minus {
			svg {
				transform: rotate(180deg);
			}
		}
		&--disabled {
			svg {
				fill: #7C7169;
			}
		}
	}
}