/**************************\
  Basic Modal Styles
\**************************/

.modal {
    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0,0,0,0.6);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 3;
    }
    &__container {
        background-color: $light;
        padding: 15px 24px 0px 24px;
        max-width: 500px;
        width: 100%;
        max-height: 90vh;
        border-radius: 6px;
        overflow-y: auto;
        box-sizing: border-box;
        &--small {
            max-width: 334px;
        }
        &--big {
            width: auto;
            max-width: 100%;
        }
        &--filter {
            max-width: 864px;
            background-color: #F9F5F1;
        }
    }
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__footer {
        margin-bottom: 24px;
    }
    &__title {
        font-size: 34px;
        font-weight: 300;
        color: $dark;
        margin-bottom: 21px;
    }
    &__close {
        background: transparent;
        border: 0;
        outline: none;
        cursor: pointer;
        flex-shrink: 0;
        position: relative;
        top: -4px;
    }
    &__content {
        line-height: 1.5;
        color: rgba(0,0,0,.8);
        margin-bottom: 15px;
    }
    &__text {
        font-size: 14px;
    }
    &__link {
        font-size: 16px;
        color: #7C7169;
        text-decoration: underline;
        outline: none;
        &:hover {
            text-decoration: none;
        }
    }
    &__btn {
        width: 100%;
        height: 40px;
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 3px;
        &--black {
            background-color: $dark;
            color: $light;
            border: none;
        }
        &--search {
            width: 140px;
            margin-right: 20px;
            @include r(1200) {
                width: 100%;
                margin-bottom: 15px
            }
        }
        &--clear {
            width: 192px;
            color: $light;
            height: 40px;
            background: #BBB0A9;
            border-radius: 6px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: 0.3s all;
            @include r(1200) {
                width: 100%;
            }
            &:hover {
                opacity: 0.8;
            }
        }
    }
    hr {
        height: 2px;
        border: none;
        background-color: #E4DFDB;
        margin-top: 22px;
        margin-bottom: 22px;
    }
    &__form {
        &--flex {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        .filter__label-title {
            line-height: 22px;
            text-align: left;
            color: #7C7169;
        }
    }
    &__grow {
        &--50 {
            width: calc(50% - 10px);
        }
    }
    &__control {
        width: 100%;
        text-align: left;
    }
}

/**************************\
  Demo Animation Style
\**************************/
@keyframes mmfadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes mmfadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes mmslideIn {
  from { transform: translateY(15%); }
  to { transform: translateY(0); }
}

@keyframes mmslideOut {
  from { transform: translateY(0); }
  to { transform: translateY(-10%); }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
  animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
  animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
  animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
  animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}