.sidebar {
	border-radius: 6px;
	position: sticky;
	top: 20px;
	bottom: 20px;
	background-color: $dark;
	color: $light;
	padding: 24px;
	max-height: calc(100vh - 40px);
	// overflow-y: scroll;
	&__title {
		color: #FFBE77;
		font-weight: 500;
		font-size: 24px;
		line-height: 1.2;
		margin-bottom: 22px;
	}
	hr {
		width: 100%;
		height: 1px;
		background-color: #7C7169;
		display: block;
		border: none;
		margin-bottom: 21px;
	}
}

.side-menu {
	// border-bottom: 1px solid #7C7169;
	&__title {

	}
	&__link {
		color: $light;
		display: block;
		margin-bottom: 27px;
		padding-left: 19px;
		position: relative;
		&:before {
			position: absolute;
			right: calc(100% + 30px);
			content: "";
			width: 9px;
			height: 9px;
			transition: 0.3s all;
			box-sizing: boder-box;
			border: 1px solid $dark;
			display: block;
			left: 0px;
			top: calc(50% - 4px);
			border-radius: 10px;
		}
		&:hover {
			&:before {
				border: 1px solid $accent;
			}
		}
		&--active {
			&:before {
				box-sizing: boder-box;
				background-color: $accent;
			}
		}
	}
}

.side-booking {
	// padding-bottom: 24px;
	&__top {
		border-bottom: 1px solid #7C7169;
		padding-top: 15px;
		padding-bottom: 17px;
	}
	&__name {
		color: $light;
		font-size: 20px;
		margin-bottom: 19px;
	}
	&__line {
		display: flex;
		justify-content: space-between;
		margin-bottom: 19px;
	}
	&__left {
		width: 50%;
		padding-right: 20px;
		color: #BBB0A9;
	}
	&__right {
		width: 50%;
	}
	&__bottom {
		padding-top: 12px;
	}
	&__result {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 12px;
		&--left {
			width: 40%;
		}
		&--right {
			width: 60%;
		}
	}
	&__fact {
		top: -14px;
		right: 4px;
	}
	&__result-price {
		font-size: 34px;
		font-weight: 500;
	}
	&__result-money {
		font-size: 18px;
	}
	&__btn {
		width: 100%;
		height: 40px;
		background-color: $accent;
		color: $light;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.side-header {
	font-size: 14px;
	color: #FFBE77;
}

.side-form {
	&__date {
		display: block;
		margin-bottom: 36px;
	}
	&__line {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		margin-bottom: 22px;
	}
	&__row {
		user-select: none;
		&--1 {
			width: 170px;
		}
		&--2 {
			flex-grow: 1;
			text-align: center;
		}
		&--3 {
			width: 90px;
			text-align: center;
		}
	}
	&__result {
		margin-top: 21px;
		margin-bottom: 7px;
		font-size: 26px;
		font-weight: 500;
	}
	&__btn {
		width: 208px;
	}
}
