.f-slider {
	margin-bottom: 76px;
	&__container {
		padding-top: 10px;
		position: relative;
		overflow: hidden;
	}
	&__slider-container {
		overflow: visible;
	}
	&__static-container {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	&__h2 {
		margin-bottom: 40px;
	}
	&__prev {
		cursor: pointer;
		width: 26px;
		height: 26px;
		position: absolute;
		right: 46px;
		top: -76px;
		z-index: 2;
		outline: none;
		svg {
			height: 26px;
			width: 26px;
			fill: #7C7169;
			transform: rotate(180deg);
			display: block;
		}
		&:hover {
			svg {
				fill: $accent;
			}
		}
		@include r(780) {
			left: 0px;
			top: 50%;
			margin-top: -13px;
		}
	}
	&__next {
		cursor: pointer;
		width: 26px;
		height: 26px;
		position: absolute;
		right: 0px;
		top: -76px;
		z-index: 2;
		outline: none;
		svg {
			height: 26px;
			width: 26px;
			fill: #7C7169;
			display: block;
		}
		&:hover {
			svg {
				fill: $accent;
			}
		}
		@include r(780) {
			right: 0px;
			top: 50%;
			margin-top: -13px;
		}
	}
}

.f-slide {
	display: flex;
	height: 250px;
	width: 333px;
	justify-content: flex-end;
	flex-direction: column;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding-bottom: 20px;
	padding-top: 20px;
	padding-right: 20px;
	&--static {
		width: calc(33% - (32px/3));
		margin-bottom: 20px;
		@include r(980) {
			width: calc(50% - (20px/2));
		}
		@include r(700) {
			width: 100%;
		}
	}
	&--clear {
		width: calc(33% - (32px/3));
		height: 0px;
		@include r(980) {
			width: calc(50% - (20px/2));
		}
		@include r(700) {
			width: 100%;
		}
	}
	&__title {
		height: 54px;
		display: inline-flex;
		background-color: $light;
		width: fit-content;
		align-items: center;
		padding-left: 13px;
		padding-right: 10px;
		overflow: hidden;
		max-width: 100%;
		span {
			margin-right: 20px;
			font-size: 18px;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
			transition: 0.3s all;
		}
		svg {
			fill: $accent;
			width: 20px;
			height: 20px;
			flex-shrink: 0;
		}
	}
	&:hover {
		.f-slide__title {
			span {
				color: $accent;
			}
		}
	}
}

.ex-slide {
	display: flex;
	height: 250px;
	width: 333px;
	justify-content: flex-end;
	flex-direction: column;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 15px;
	color: $light;
	font-weight: 300;
	&__content {
		background-color: rgba(0, 0, 0, 0.6);
		align-items: center;
		padding-left: 13px;
		padding-right: 10px;
		overflow: hidden;
		width: 100%;
		padding: 20px 20px 18px 20px;
		font-size: 20px;
	}
	&__top {
		text-align: center;
	}
	&__bottom {
		overflow: hidden;
		max-height: 0px;
		transition: 0.3s all;
	}
	&__info {
		padding-top: 17px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 17px;
	}
	&__price {
		b {
			font-size: 22px;
			font-weight: 500;
		}
	}
	&__btn {
		display: flex;
		justify-content: center;
		align-items: center;
		color: $light;
		border: 2px solid $light;
		border-radius: 6px;
		height: 40px;
		&:hover {
			color: $dark;
			background-color: $light;
		}
	}
	&:hover {
		.ex-slide__bottom {
			max-height: 500px;
		}
	}
}

.tour-slide {
	width: 333px;
	&__top {
		display: flex;
		height: 250px;
		justify-content: flex-end;
		flex-direction: column;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		padding: 14px;
	}
	&__bottom {
		padding-top: 14px;
		padding-left: 14px;
		padding-bottom: 14px;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
	}
	&__title {
		display: block;
		background-color: rgba(0, 0, 0, 0.6);
		padding-top: 10px;
		padding-bottom: 10px;
		text-align: center;
		color: $light;
		font-size: 20px;
	}
	&__days {
		font-size: 20px;
	}
	&__money {
		font-size: 22px;
		font-weight: 500;
		line-height: 1.2;
	}
	&:hover {
		.tour-slide__title {
			span {
				color: $accent;
			}
		}
	}
}

.subscribe {
	background-color: $accent;
	color: $light;
	display: flex;
	flex-direction: column;
	padding-left: 14px;
	padding-right: 64px;
	padding-bottom: 41px;
	position: relative;
	@include r(980) {
		padding-right: 14px;
	}
	&__title {
		font-size: 24px;
		line-height: 24px;
		margin-bottom: 11px;
		max-width: 400px;
	}
	&__text {
		font-size: 16px;
		line-height: 19px;
		flex-grow: 1;
		max-width: 400px;
	}
	&__form {
		display: flex;
		justify-content: space-between;
		width: 226px;
		height: 40px;
		max-width: 100%;
	}
	&__input {
		border: none;
		height: 100%;
		box-sizing: border-box;
		flex-grow: 1;
		font-size: 16px;
		padding-left: 15px;
		padding-right: 15px;
		outline: none;
		@include r(980) {
			padding-right: 0px;
		}
		&:placeholder {
			color: #7C7169;
		}
	}
	&__btn {
		width: 40px;
		border: none;
		height: 100%;
		border-radius: 0px 6px 6px 0px;
		background-color: #3C3530;
		transition: 0.3s all;
		cursor: pointer;
		flex-shrink: 0;
		outline: none;
		&:hover {
			opacity: 0.7;
		}
		svg {
			fill: $light;
			width: 20px;
			height: 20px;
			flex-shrink: 0;
		}
	}
	&__ill {
		position: absolute;
		bottom: 28px;
		right: -73px;
		@include r(1150) {
			display: none;
		}
	}
}