.text {
	margin-bottom: 85px;
	&__h2 {
		margin-bottom: 37px;
	}
	&__content {
		font-size: 14px;
		&--bg {
			border-radius: 6px;
			padding: 20px 20px 40px 20px;
			background-color: #F9F5F1;
		}
		h3 {
			font-size: 22px;
			font-weight: 300;
			margin-bottom: 10px;
		}
		p {
			line-height: 1.4;
			margin-bottom: 24px;
		}
		table {
			width: 100%;
		}
		tr {
			margin-bottom: 20px;
			display: flex;
			justify-content: space-between;
			@include r(780) {
				display: flex;
				flex-direction: column;
			}
		}
		td {
			&:nth-child(1) {
				width: 85%;
				padding-right: 35px;
				@include r(780) {
					width: 100%;
					padding-right: 0px;
					margin-bottom: 5px;
				}
			}
			&:nth-child(2) {
				width: 15%;
				@include r(780) {
					width: 100%;
				}
			}
		}
	}
}