.tour-booking {
	// margin-bottom: 120px;
	&__h2 {
		margin-bottom: 36px;
	}
	&__step {
		display: flex;
		justify-content: space-between;
		@include r(1200) {
			flex-direction: column;
			margin-bottom: 30px;
		}
		&--2 {
			min-height: 120px;
			align-items: center;
		}
	}
	&__step-title {
		@include r(1200) {
			margin-bottom: 15px;
		}
	}
	&__selects {
		width: 100%;
		max-width: 500px;
		padding: 10px 9px 10px 9px;
		margin-left: auto;
		display: flex;
		align-items: center;
		margin-right: auto;
		background: #F9F5F1;
		border-radius: 6px;
		@include r(1200) {
			margin-left: 0px;
			margin-right: auto;
			display: block;
		}
	}
	&__select {
		margin-right: 20px;
		@include r(1200) {
			margin-bottom: 10px;
		}
	}
	&__left {
		width: 96px;
		flex-shrink: 0;
		@include r(1200) {
			width: 100%;
		}
	}
	&__right {
		flex-grow: 1;
		min-width: 0;
		@include r(1200) {
			width: 100%;
		}
	}
	&__discript {
		font-size: 14px;
		color: #7C7169;
		margin-bottom: 4px;
		padding-left: 10px;
	}
}

.hotel {
	padding: 15px 20px 22px 20px;
	background-color: #F9F5F1;
	margin-bottom: 16px;
	&__columns {
		display: flex;
		justify-content: space-between;
	}
	&__top-part {

	}
	&__bottom-part {
		overflow: hidden;
		max-height: 0px;
	}
	&__thumb {
		width: 225px;
		height: 148px;
		position: relative;
		flex-shrink: 0;
		img {
			object-fit: cover;
			height: 100%;
			width: 100%;
			display: block;
		}
		@include r(780) {
			display: none;
		}
	}
	&__about {
		flex-grow: 1;
		padding-left: 20px;
		@include r(780) {
			padding-left: 0px;
			padding-right: 0px;
		}
	}
	&__title {
		font-size: 22px;
		margin-bottom: 27px;
		@include r(780) {
			margin-bottom: 10px;
		}
	}
	&__control {
		display: flex;
		align-items: center;
		margin-bottom: 8px;
		@include r(780) {
			display: block;
		}
	}
	&__open {
		width: 128px;
		height: 40px;
		font-weight: 500;
		transition: 0.3s all;
	}
	&__price {
		margin-right: 21px;
		@include r(780) {
			width: 100%;
			max-width: 100%;
			margin-right: 0px;
			margin-bottom: 10px;
		}
	}
	&__price-info {
		font-size: 12px;
		color: #7C7169;
		@include r(780) {
			br {
				display: none;
			}
		}
	}
	&__discript {
		margin-bottom: 24px;
		padding-top: 18px;
		font-size: 14px;
	}
	&__slider {
		height: 302px;
		display: flex;
		width: 100%;
		margin-bottom: 36px;
		@include r(1200) {
			height: auto;
		}
	}
	&__map {

	}
	&__map-title {
		font-size: 16px;
		font-weight: 500;
		margin-bottom: 16px;
	}
	&__map-content {
		height: 287px;
	}
	&__selects {
		display: flex;
		padding-top: 36px;
		margin-bottom: 10px;
		@include r(780) {
			display: block;
		}
	}
	&__select {
		width: 50%;
		max-width: 240px;
		@include r(780) {
			width: 100%;
			max-width: 100%;
			margin-bottom: 20px;
		}
	}
	&__select-title {
		font-size: 16px;
		font-weight: 500;
		margin-bottom: 20px;
	}
	&__control {

	}
	&__btn {
		height: 40px;
		width: 128px;
		font-size: 14px;
		display: inline-flex;
		margin-right: 15px;
		font-weight: 500;
		@include r(780) {
			margin-bottom: 10px;
		}
	}
	&--open {
		.hotel__bottom-part {
			max-height: 10000px;
		}
		.hotel__open {
			opacity: 0;
			user-select: none;
			@include r(780) {
				display: none;
			}
		}
	}
}

.thumbs-slider {
	display: flex;
	justify-content: space-between;
	@include r(1200) {
		flex-direction: column;
	}
	&__top {
		width: 510px;
		height: 302px;
		margin-left: 0px;
		margin-right: 0px;
		max-width: 100%;
		@include r(1200) {
			width: 100%;
			height: 500px;
			margin-bottom: 10px;
		}
		@include r(780) {
			height: 350px;
		}
		@include r(500) {
			height: 280px;
		}
		@include r(400) {
			height: 200px;
		}
	}
	&__thumbs {
		@include r(1200) {
			width: 100%;
			max-width: 100%;
			display: flex;
			align-items: center;
			position: relative;
		}
	}
	&__thumbs-container {
		width: 85px;
		margin-left: 0px;
		margin-right: 0px;
		height: 260px;
		position: relative;
		@include r(1200) {
			max-width: 100%;
			width: 100%;
			height: auto;
		}
	}
	&__top-slide {
		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}
	&__thumbs-slide {
		height: 56px;
		transition: 0.3s all;
		opacity: 0.6;
		cursor: pointer;
		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
		@include r(1200) {
			height: 100px;
		}
		@include r(780) {
			height: 80px;
		}
		@include r(500) {
			height: 45px;
		}
	}
	&__thumbs-top {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		height: 25px;
		outline: none;
		z-index: 2;
		svg {
			transform: rotate(-90deg);
			width: 24px;
			height: 20px;
			cursor: pointer;
			fill: #7C7169;
		}
		@include r(1200) {
			position: absolute;
			left: 0px;
			transform: rotate(-90deg);
		}
	}
	&__thumbs-bottom {
		display: flex;
		justify-content: center;
		align-items: flex-end;
		height: 25px;
		outline: none;
		z-index: 2;
		svg {
			transform: rotate(90deg);
			width: 24px;
			height: 20px;
			cursor: pointer;
			fill: #7C7169;
		}
		@include r(1200) {
			right: 0px;
			position: absolute;
			transform: rotate(-90deg);
		}
	}
	.swiper-slide-thumb-active {
		opacity: 1;
	}
	.swiper-button-disabled {
		opacity: 0.6;
	}
}

.when {
	width: 100%;
	min-width: 0;
	padding-right: 50px;
	padding-left: 50px;
	&__articles {
		flex-grow: 1;
		// padding-right: 10px;
		// padding-left: 10px;
		min-width: 0;
	}
	&__title {
		margin-left: 24px;
		font-size: 14px;
		margin-bottom: 13px;
	}
	&__article {
		background: #F9F5F1;
		border-radius: 6px;
		padding: 12px 9px 11px 9px;
		// max-width: 33%;
		height: 158px;
		.radio {
			margin-bottom: 13px;
		}
	}
	&__btn {
		background: #F9F5F1;
		border-radius: 6px;
		width: 40px;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		height: 158px;
		transition: 0.3s all;
		flex-shrink: 0;
		z-index: 2;
		position: absolute;
		top: 0px;
		bottom: 0px;
		&:hover {
			opacity: 0.7;
		}
		&--right {
			right: 0px;
		}
		&--left {
			left: 0px;
			svg {
				transform: rotate(180deg);
			}
		}
		&--inactive {
			pointer-events: none;
			opacity: 0.5;
		}
	}
}