.tour {
	margin-bottom: 41px;
	&__container {
		display: flex;
		justify-content: space-between;
		@include r(1200) {
			flex-wrap: wrap;	
		}
	} 
	&__slider {
		margin-left: 0px;
		@include r(1200) {
			width: 100%;	
		}
	}
	&__content {
		padding-top: 44px;
		@include r(1200) {
			order: -1;
			width: 100%;
			padding-bottom: 54px;
		}
	}
	&__h1 {
		margin-bottom: 22px;
	}
	&__dates {
		font-size: 16px;
		margin-bottom: 12px;
	}
	&__dates-title {
		font-weight: 500;
	}
	&__price {
		margin-bottom: 16px;
	}
	&__money {
		font-size: 34px;
		font-weight: 500;
	}
	&__info {
		font-size: 14px;
		margin-bottom: 22px;
		strong {
			font-weight: 500;
		}
	}
	&__btn {
		width: 208px;
		height: 40px;
	}
}