.header {

}

.topline {
	border-bottom: 1px solid #E4DFDB;
	padding-top: 19px;
	padding-bottom: 14px;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	@include r(1200) {
		align-items: center;
	}
	&__logo {

	}
	&__rate {
		flex-grow: 1;
		@include r(1200) {
			display: none;
		}
	}
	&__link {
		@include r(1200) {
			display: none;
		}
		svg {
			width: 16px;
			height: 16px;
			fill: $accent;
		}
		&:hover {
			color: $accent;
		}
		&--phone {
			margin-left: 22px;
			span {
				font-size: 20px;
			}
		}
		&--profile {
			margin-left: 68px;
			transition: 0.3s all;
			cursor: pointer;
			span {
				font-size: 16px;
			}
		}
	}
	&__menu {
		height: 22px;
		width: 22px;
		justify-content: center;
		align-items: center;
		flex-shrink: 0;
		display: none;
		box-sizing: content-box;
		cursor: pointer;
		@include r(1200) {
			display: flex;
			padding: 10px;
		}
		svg {
			height: 100%;
			width: 100%;
			display: block;
			fill: $dark;
		}
	}
}

.navline {
	border-bottom: 1px solid #E4DFDB;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	@include r(1200) {
		display: none;
	}
	&__link {
		height: 48px;
		display: inline-flex;
		align-items: center;
		font-weight: 400;
		color: $dark;
		text-decoration: none;
		display: inline-flex;
		&:hover {
			color: $accent;
		}
		&--active {
			color: $accent;
		}
	}
	&__search {
		height: 48px;
		position: relative;
		display: inline-flex;
		align-items: center;
		flex-shrink: 0;
		cursor: pointer;
		svg {
			width: 24px;
			height: 24px;
			fill: $accent;
			display: block;
		}
		&:hover {
			svg {
				opacity: 0.7;
			}
		}
	}
}

.logo {
	width: 178px;
	height: 62px;
	display: block;
	img {
		display: block;
	}
}

.rate {
	display: flex;
	flex-direction: column;
	align-items: center;
	&--dark {
		color: $dark;
	}
	&--light {
		color: $light;
	}
	&__title {
		font-size: 14px;
	}
	&__money {
		font-size: 26px;
	}
	&__symbol {
		font-size: 20px;
	}
	&__text {
		font-size: 14px;
	}
}