@import "utils/reset";
@import "utils/variables";
@import "utils/mixins";
@import "utils/fonts";
@import "partials/sprite";

@import "../libs/swiper/css/swiper.min";
@import "../libs/scroll/OverlayScrollbars.min";
@import "../libs/tippy/microtip";
@import "../libs/pikaday/pikaday";

@import "components/blocks";
@import "components/sidebar";
@import "components/scroll";
@import "components/interface";
@import "components/modal";
@import "components/menu";

h1, h2, h3, h4, p {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: $dark;
	transition: 0.3s all;
}

header, main, footer {
	width: 100%;
}

header, footer, aside {
	flex-shrink: 0;
}

main {
	flex-grow: 1;
	flex-shrink: 0;
}

svg {
	transition: 0.3s all;
}

button {
	cursor: pointer;
	font-family: "Segoe UI", Arial, sans-serif;
}

.body {
	background: $light;
	font-family: "Segoe UI", Arial, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-direction: column;
	min-height: 100vh;
	justify-content: space-between;
	line-height: 1.3;
	font-size: 16px;
	color: $dark;
	-webkit-font-smoothing: antialiased;
	@include r(1200) {

	}
	@include r(780) {

	}
	&--menu {
		.menu {
			opacity: 1;
			width: 100%;
		}
	}
}

.main {
	padding-bottom: 120px;
	@include r(1200) {
		padding-bottom: 80px;
	}
}

.mobile-hidden {
	@include r(1200) {
		display: none;
	}
}

.icon-svg {
	fill: #000000;
	height: 16px;
	width: 16px;
}

.container {
	padding-left: 15px;
	padding-right: 15px;
	width: 1170px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	max-width: 100%;
	&--columns {
		display: flex;
		justify-content: space-between;
		padding-top: 30px;
		@include r(1200) {
			flex-wrap: wrap;
		}
	}
}

.content {
	width: calc(8 / 12 * 100% - 10px);
	max-width: 100%;
	@include r(1200) {
		width: 100%;
	}
}

.aside {
	width: calc(4 / 12 * 100% - 10px);
	max-width: 100%;
	&--mob-top {
		@include r(1200) {
			width: 100%;
			order: -1;
			padding-top: 0px;
			margin-bottom: 40px;
		}
	}
	&--mob-bottom {
		@include r(1200) {
			width: 100%;
			padding-top: 40px;
			margin-bottom: 40px;
		}
	}
}

.h1 {
	font-size: 34px;
	font-weight: 300;
}

.h2 {
	font-size: 34px;
	position: relative;
	padding-left: 20px;
	font-weight: 300;
	&:before {
		content: "";
		position: absolute;
		top: -6px;
		bottom: -10px;
		left: 0px;
		width: 26px;
		border: 2px solid $accent;
		border-right: none;
		border-radius: 6px 0 0 6px;
	}
	@include r(780) {
		font-size: 28px;
	}
}

.title {
	font-size: 34px;
	position: relative;
	font-weight: 300;
	@include r(780) {
		font-size: 28px;
	}
}

.fact {
	height: 10px;
	width: 10px;
	position: relative;
	transition: 0.3s all;
	cursor: pointer;
	display: inline-block;
	top: -0.6em;
	svg {
		fill: $accent;
		width: 100%;
		display: block;
		height: 100%;
	}
	&:hover {
		svg {
			opacity: 0.7;
		}
	}
	&:after {
		box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.25);
		width: 230px !important;
		box-sizing: border-box !important;
		white-space: normal !important;
		background-color: $light !important;
		color: $dark !important;
		padding: 5px 9px 10px 9px !important;
		margin-bottom: 7px !important;
	}
	&:before {
		z-index: 12 !important;
		margin-bottom: 0px !important;
		background-color: $light;
	}
}

.hidden {
	display: none;
}

.horizontal-scroll {
	height: auto;
	width: 100%;
	padding-bottom: 15px;
	@include r(1200) {
		overflow-x: scroll; 
	}
}

@import "includes/header";
@import "includes/footer";


// Главная страница
@import "sections/note";
@import "sections/front-sliders";

// Страница тура
@import "sections/tour";
@import "sections/plan";
@import "sections/route";
@import "sections/features";
@import "sections/reviews";
@import "sections/tour-booking";

// Страница списков
@import "sections/list";

// Странциа бронирования
@import "sections/data";

// Странциа 404
@import "sections/none";

// Странциа новости
@import "sections/post";

// Личный кабинет
@import "sections/lk";

// Страница "Контакты"
@import "sections/contacts";

// Информация о бронировании
@import "sections/info";