@import "utils/reset";
@import "utils/variables";
@import "utils/mixins";
@import "utils/fonts";
@import "partials/sprite";

@import "../libs/swiper/css/swiper.min";
@import "../libs/scroll/OverlayScrollbars.min";
@import "../libs/tippy/microtip";

@import "components/blocks";
@import "components/sidebar";
@import "components/scroll";
@import "components/interface";
@import "components/modal";

h1, h2, h3, h4, p {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: $dark;
	transition: 0.3s all;
}

header, main, footer {
	width: 100%;
}

header, footer, aside {
	flex-shrink: 0;
}

main {
	flex-grow: 1;
	flex-shrink: 0;
}

svg {
	transition: 0.3s all;
}

button {
	cursor: pointer;
}

.body {
	background: $light;
	font-family: "Segoe UI", Arial, sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-direction: column;
	min-height: 100vh;
	justify-content: space-between;
	line-height: 1.3;
	font-size: 16px;
	color: $dark;
	-webkit-font-smoothing: antialiased;
	@include r(1024) {
        // пример медиазапроса
    }
}

.icon-svg {
	fill: #000000;
	height: 16px;
	width: 16px;
}

.container {
	padding-left: 15px;
	padding-right: 15px;
	width: 1170px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	max-width: 100%;
	&--columns {
		display: flex;
		justify-content: space-between;
	}
}

.content {
	width: calc(8 / 12 * 100% - 10px);
	max-width: 100%;
}

.aside {
	width: calc(4 / 12 * 100% - 10px);
	max-width: 100%;
	padding-bottom: 74px;
}

.h1 {
	font-size: 34px;
	font-weight: 300;
}

.h2 {
	font-size: 34px;
	position: relative;
	padding-left: 20px;
	font-weight: 300;
	&:before {
		content: "";
		position: absolute;
		top: -6px;
		bottom: -10px;
		left: 0px;
		width: 26px;
		border: 2px solid $accent;
		border-right: none;
		border-radius: 6px 0 0 6px;
	}
}

.fact {
	height: 10px;
	width: 10px;
	position: relative;
	transition: 0.3s all;
	cursor: pointer;
	display: inline-block;
	svg {
		fill: $accent;
		width: 100%;
		display: block;
		height: 100%;
	}
	&:hover {
		svg {
			opacity: 0.7;
		}
	}
	&:after {
		width: 230px !important;
		box-sizing: border-box !important;
		white-space: normal !important;
		background-color: $light !important;
		color: $dark !important;
		padding: 5px 9px 10px 9px !important;
	}
}

.hidden {
	display: none;
}

@import "includes/header";
@import "includes/footer";

@import "sections/tour";
@import "sections/plan";
@import "sections/route";
@import "sections/features";
@import "sections/reviews";
@import "sections/tour-booking";