<!-- Это оставляй так, как есть, ничего не трогай -->
<script src="https://unpkg.com/micromodal/dist/micromodal.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/zenscroll/4.0.2/zenscroll-min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/pikaday/pikaday.js"></script>
<script src="http://momentjs.com/downloads/moment.min.js"></script>
<!-- <script src="http://momentjs.com/downloads/moment-with-locales.js"></script> -->
<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=ADkFy1wBAAAAroyMeQIA1XC97x9tzD7bmBf4YxiRLlx6CWEAAAAAAAAAAACFwEwMAb3vggJO5-bKmFhwbCF4Ww==" type="text/javascript"></script>

<!-- Вместо это добавь ссылку гитхаб  https://kennynobody.github.io/KGD-tour/js/main.min.js-->
<script src="./js/main.min.js"></script>