<!DOCTYPE html>
<html lang="ru">
<head>
	<title>Новости</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="theme-color" content="">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	//= includes/head-links.html
</head>
<body class="body" id="page">
	//= blocks/header.html
	//= sections/breadcrumbs.html
	<main class="main">
		<div class="container container--columns">
			<div class="content">
				<section class="list">
					<h2 class="title list__title">
						Экскурсии по Калининградской области
					</h2>
					<article class="list-item">
						<div class="list-item__thumb-column" style="background-image: url(http://placehold.it/1000x600);">
							<p class="list-item__title-block">
								Куршская коса
							</p>
						</div>
						<div class="list-item__content-column">
							<div class="list-item__content-top">
								<p class="list-item__title">
									Куршская коса
								</p>
								<p class="list-item__date">
									опубликовано 14.03.2019
								</p>
								<div class="list-item__text">
									<p>
										Дрезден, столица Саксонии (федеральной земли ФРГ), раскинулся на берегах Эльбы. От этого города до чешских границ каких-то сорок километров, поэтому любители путешествий и оглянуться не успеют, как очутятся здесь. Каким образом? Уж нет ничего легче, поверьте! Достаточно...
									</p>
								</div>
							</div>
							<div class="list-item__content-bottom">
								<a href="single-post.html" class="btn btn--contrast list-item__btn list-item__btn--more">
									Подробнее
								</a>
							</div>
						</div>
					</article>
					<article class="list-item">
						<div class="list-item__thumb-column" style="background-image: url(http://placehold.it/1000x600);">
							<p class="list-item__title-block">
								Куршская коса
							</p>
						</div>
						<div class="list-item__content-column">
							<div class="list-item__content-top">
								<p class="list-item__title">
									Куршская коса
								</p>
								<p class="list-item__date">
									опубликовано 14.03.2019
								</p>
								<div class="list-item__text">
									<p>
										Дрезден, столица Саксонии (федеральной земли ФРГ), раскинулся на берегах Эльбы. От этого города до чешских границ каких-то сорок километров, поэтому любители путешествий и оглянуться не успеют, как очутятся здесь. Каким образом? Уж нет ничего легче, поверьте! Достаточно...
									</p>
								</div>
							</div>
							<div class="list-item__content-bottom">
								<a href="single-post.html" class="btn btn--contrast list-item__btn list-item__btn--more">
									Подробнее
								</a>
							</div>
						</div>
					</article>
					<article class="list-item">
						<div class="list-item__thumb-column" style="background-image: url(http://placehold.it/1000x600);">
							<p class="list-item__title-block">
								Куршская коса
							</p>
						</div>
						<div class="list-item__content-column">
							<div class="list-item__content-top">
								<p class="list-item__title">
									Куршская коса
								</p>
								<p class="list-item__date">
									опубликовано 14.03.2019
								</p>
								<div class="list-item__text">
									<p>
										Дрезден, столица Саксонии (федеральной земли ФРГ), раскинулся на берегах Эльбы. От этого города до чешских границ каких-то сорок километров, поэтому любители путешествий и оглянуться не успеют, как очутятся здесь. Каким образом? Уж нет ничего легче, поверьте! Достаточно...
									</p>
								</div>
							</div>
							<div class="list-item__content-bottom">
								<a href="single-post.html" class="btn btn--contrast list-item__btn list-item__btn--more">
									Подробнее
								</a>
							</div>
						</div>
					</article>
				</section>
				//= blocks/pagination.html
			</div>
			<aside class="aside mobile-hidden">
				<div class="sidebar">
					<div class="sidebar__menu side-menu">
						<p class="sidebar__title side-menu__title">
							
						</p>
						<a href="#tour-plan" class="side-menu__link side-menu__link--active">
							Название категории						
						</a>
						<a href="#tour-route" class="side-menu__link">
							Название категории						
						</a>
						<a href="#in-price" class="side-menu__link">
							Название категории						
						</a>
						<a href="#add-service" class="side-menu__link">
							Название категории						
						</a>
						<a href="#reviews-tour" class="side-menu__link">
							Название категории						
						</a>
						<a href="#tips" class="side-menu__link">
						Название категории						</a>
						<a href="#booking-hotel" class="side-menu__link">
							Название категории						
						</a>
					</div>
				</div>
			</aside>
		</div>
	</main>
	//= blocks/footer.html
	//= blocks/hiddens.html
	//= includes/scripts.html
</body>
</html>