<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Контакты</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    //= includes/head-links.html
</head>
<body class="body" id="page">
    //= blocks/header.html
    <main class="main">
        <!-- Далее идет контент, он будет меняться -->
        //= sections/breadcrumbs.html
        <div class="container">
            <section class="contacts">
                <h2 class="title contacts__title">
                    Контакты
                </h2>
                <div class="contacts__nav">
                    <p class="contacts__nav-discript">
                        Показать:
                    </p>
                    <p class="contacts__nav-tab contacts__nav-tab--active" id="contacts-tab-1">
                        На картах
                    </p>
                    <div class="contacts__nav-decor"></div>
                    <p class="contacts__nav-tab" id="contacts-tab-2">
                        Список
                    </p>
                </div>
                <div class="contacts__articles contacts__articles--hidden" id="contacts__articles">
                    <article class="contact-article">
                        <div class="contact-article__column">
                            <p class="contact-article__subtitle">
                                турфирма
                            </p>
                            <p class="contact-article__h">
                                Бюро путешествий
                            </p>
                        </div>
                        <div class="contact-article__column">
                            <p class="contact-article__title">
                                Адрес:
                            </p>
                            <p class="contact-article__text"> 
                                Калининград, <br>ул. Барнаульская, 2,<br> офис 219
                            </p>
                        </div>
                        <div class="contact-article__column">
                            <p class="contact-article__title">
                                Режим работы:
                            </p>
                            <p class="contact-article__text"> 
                                пн-пт 10:00-20:00<br> сб 10:00-18:00<br> вс 11:00-18:00
                            </p>
                        </div>
                        <div class="contact-article__column">
                            <p class="contact-article__text"> 
                                <strong>Тел.:</strong> <a href="tel:+74012539144">(4012) 53 91 44</a>
                            </p>
                            <p class="contact-article__text"> 
                                <strong>Факс:</strong> 53 44 00
                            </p>
                            <p class="contact-article__text"> 
                                <strong>E-mail:</strong> <a href="mailto:kalinintour@yandex.ru">kalinintour@yandex.ru</a>
                            </p>
                        </div>
                    </article>
                    <article class="contact-article">
                        <div class="contact-article__column">
                            <p class="contact-article__subtitle">
                                турфирма
                            </p>
                            <p class="contact-article__h">
                                Бюро путешествий
                            </p>
                        </div>
                        <div class="contact-article__column">
                            <p class="contact-article__title">
                                Адрес:
                            </p>
                            <p class="contact-article__text"> 
                                Калининград, <br>ул. Барнаульская, 2,<br> офис 219
                            </p>
                        </div>
                        <div class="contact-article__column">
                            <p class="contact-article__title">
                                Режим работы:
                            </p>
                            <p class="contact-article__text"> 
                                пн-пт 10:00-20:00<br> сб 10:00-18:00<br> вс 11:00-18:00
                            </p>
                        </div>
                        <div class="contact-article__column">
                            <p class="contact-article__text"> 
                                <strong>Тел.:</strong> <a href="tel:+74012539144">(4012) 53 91 44</a>
                            </p>
                            <p class="contact-article__text"> 
                                <strong>Факс:</strong> 53 44 00
                            </p>
                            <p class="contact-article__text"> 
                                <strong>E-mail:</strong> <a href="mailto:kalinintour@yandex.ru">kalinintour@yandex.ru</a>
                            </p>
                        </div>
                    </article>
                    <article class="contact-article">
                        <div class="contact-article__column">
                            <p class="contact-article__subtitle">
                                турфирма
                            </p>
                            <p class="contact-article__h">
                                Бюро путешествий
                            </p>
                        </div>
                        <div class="contact-article__column">
                            <p class="contact-article__title">
                                Адрес:
                            </p>
                            <p class="contact-article__text"> 
                                Калининград, <br>ул. Барнаульская, 2,<br> офис 219
                            </p>
                        </div>
                        <div class="contact-article__column">
                            <p class="contact-article__title">
                                Режим работы:
                            </p>
                            <p class="contact-article__text"> 
                                пн-пт 10:00-20:00<br> сб 10:00-18:00<br> вс 11:00-18:00
                            </p>
                        </div>
                        <div class="contact-article__column">
                            <p class="contact-article__text"> 
                                <strong>Тел.:</strong> <a href="tel:+74012539144">(4012) 53 91 44</a>
                            </p>
                            <p class="contact-article__text"> 
                                <strong>Факс:</strong> 53 44 00
                            </p>
                            <p class="contact-article__text"> 
                                <strong>E-mail:</strong> <a href="mailto:kalinintour@yandex.ru">kalinintour@yandex.ru</a>
                            </p>
                        </div>
                    </article>
                    <article class="contact-article">
                        <div class="contact-article__column">
                            <p class="contact-article__subtitle">
                                турфирма
                            </p>
                            <p class="contact-article__h">
                                Бюро путешествий
                            </p>
                        </div>
                        <div class="contact-article__column">
                            <p class="contact-article__title">
                                Адрес:
                            </p>
                            <p class="contact-article__text"> 
                                Калининград, <br>ул. Барнаульская, 2,<br> офис 219
                            </p>
                        </div>
                        <div class="contact-article__column">
                            <p class="contact-article__title">
                                Режим работы:
                            </p>
                            <p class="contact-article__text"> 
                                пн-пт 10:00-20:00<br> сб 10:00-18:00<br> вс 11:00-18:00
                            </p>
                        </div>
                        <div class="contact-article__column">
                            <p class="contact-article__text"> 
                                <strong>Тел.:</strong> <a href="tel:+74012539144">(4012) 53 91 44</a>
                            </p>
                            <p class="contact-article__text"> 
                                <strong>Факс:</strong> 53 44 00
                            </p>
                            <p class="contact-article__text"> 
                                <strong>E-mail:</strong> <a href="mailto:kalinintour@yandex.ru">kalinintour@yandex.ru</a>
                            </p>
                        </div>
                    </article>
                    <article class="contact-article">
                        <div class="contact-article__column">
                            <p class="contact-article__subtitle">
                                турфирма
                            </p>
                            <p class="contact-article__h">
                                Бюро путешествий
                            </p>
                        </div>
                        <div class="contact-article__column">
                            <p class="contact-article__title">
                                Адрес:
                            </p>
                            <p class="contact-article__text"> 
                                Калининград, <br>ул. Барнаульская, 2,<br> офис 219
                            </p>
                        </div>
                        <div class="contact-article__column">
                            <p class="contact-article__title">
                                Режим работы:
                            </p>
                            <p class="contact-article__text"> 
                                пн-пт 10:00-20:00<br> сб 10:00-18:00<br> вс 11:00-18:00
                            </p>
                        </div>
                        <div class="contact-article__column">
                            <p class="contact-article__text"> 
                                <strong>Тел.:</strong> <a href="tel:+74012539144">(4012) 53 91 44</a>
                            </p>
                            <p class="contact-article__text"> 
                                <strong>Факс:</strong> 53 44 00
                            </p>
                            <p class="contact-article__text"> 
                                <strong>E-mail:</strong> <a href="mailto:kalinintour@yandex.ru">kalinintour@yandex.ru</a>
                            </p>
                        </div>
                    </article>
                    <article class="contact-article">
                        <div class="contact-article__column">
                            <p class="contact-article__subtitle">
                                турфирма
                            </p>
                            <p class="contact-article__h">
                                Бюро путешествий
                            </p>
                        </div>
                        <div class="contact-article__column">
                            <p class="contact-article__title">
                                Адрес:
                            </p>
                            <p class="contact-article__text"> 
                                Калининград, <br>ул. Барнаульская, 2,<br> офис 219
                            </p>
                        </div>
                        <div class="contact-article__column">
                            <p class="contact-article__title">
                                Режим работы:
                            </p>
                            <p class="contact-article__text"> 
                                пн-пт 10:00-20:00<br> сб 10:00-18:00<br> вс 11:00-18:00
                            </p>
                        </div>
                        <div class="contact-article__column">
                            <p class="contact-article__text"> 
                                <strong>Тел.:</strong> <a href="tel:+74012539144">(4012) 53 91 44</a>
                            </p>
                            <p class="contact-article__text"> 
                                <strong>Факс:</strong> 53 44 00
                            </p>
                            <p class="contact-article__text"> 
                                <strong>E-mail:</strong> <a href="mailto:kalinintour@yandex.ru">kalinintour@yandex.ru</a>
                            </p>
                        </div>
                    </article>
                </div>
                <div class="contacts__map" id="contacts__map">

                </div>
                <script>
                    document.addEventListener('DOMContentLoaded', function() {
                        var myMap;

                        ymaps.ready(init);

                        function init () {
                            myMap = new ymaps.Map('contacts__map', {

                                center: [55.76, 37.64],
                                zoom: 10
                            }, {
                                searchControlProvider: 'yandex#search'
                            });

                            myMap.behaviors.disable('scrollZoom');
                            if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)){
                                myMap.behaviors.disable('drag');
                            }
                        }
                    }, false);

                </script>
            </section>
        </div>

    </main>
    //= blocks/footer.html
    //= blocks/hiddens.html
    //= includes/scripts.html
</body>
</html>