<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Редактирование данных</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    //= includes/head-links.html
</head>
<body class="body" id="page">
    //= blocks/header.html
    <main class="main">
        <!-- Далее идет контент, он будет меняться -->
        //= sections/breadcrumbs.html
        <div class="container">
            <section class="data">
                <h2 class="title data__title">
                    Редактирование данных
                </h2>
                <div class="data__block">
                    <div class="data__header">
                        <p class="data__header-title">
                            Общая информация
                        </p>
                    </div>
                    <label class="label data__label data__label--100">
                        <p class="label__title">
                            Название на латинице
                        </p>
                        <input class="input" type="text">
                    </label>
                    <label class="label data__label data__label--100">
                        <p class="label__title">
                            Форма юридического лица
                        </p>
                        <input class="input" type="text">
                    </label>
                    <label class="label data__label data__label--100">
                        <p class="label__title">
                            Официальное название
                        </p>
                        <input class="input" type="text">
                    </label>
                    <label class="label data__label data__label--100">
                        <p class="label__title">
                            ФИО руководителя
                        </p>
                        <input class="input" type="text">
                    </label>
                    <label class="label data__label data__label--33">
                        <p class="label__title">
                            ОГРН
                        </p>
                        <input class="input" type="text">
                    </label>
                    <label class="label data__label data__label--33">
                        <p class="label__title">
                            ИНН
                        </p>
                        <input class="input" type="text">
                    </label>
                    <label class="label data__label data__label--33">
                        <p class="label__title">
                            КПП
                        </p>
                        <input class="input" type="text">
                    </label>
                    <label class="label data__label data__label--100">
                        <p class="label__title">
                            Схема налогообложения
                        </p>
                        <input class="input" type="text">
                    </label>
                    <label class="label data__label data__label--33">
                        <p class="label__title">
                            Страна / Город
                        </p>
                        <input class="input" type="text">
                    </label>
                    <label class="label data__label data__label--77">
                        <p class="label__title">
                            Адрес регистрации
                        </p>
                        <input class="input" type="text">
                    </label>
                    <label class="label data__label data__label--20">
                        <p class="label__title">
                            Телефонный код
                        </p>
                        <input class="input" type="text">
                    </label>
                    <label class="label data__label data__label--40">
                        <p class="label__title">
                            Телефон 1
                        </p>
                        <input class="input" type="text">
                    </label>
                    <label class="label data__label data__label--40">
                        <p class="label__title">
                            Телефон 2
                        </p>
                        <input class="input" type="text">
                    </label>
                    <label class="label data__label data__label--33">
                        <p class="label__title">
                            Факс
                        </p>
                        <input class="input" type="text">
                    </label>
                    <label class="label data__label data__label--33">
                        <p class="label__title">
                            E-mail 1
                        </p>
                        <input class="input" type="text">
                    </label>
                    <label class="label data__label data__label--33">
                        <p class="label__title">
                            E-mail 2
                        </p>
                        <input class="input" type="text">
                    </label>
                    <label class="label data__label data__label--50">
                        <p class="label__title">
                            Код по ОКПО
                        </p>
                        <input class="input" type="text">
                    </label>
                    <label class="label data__label data__label--50">
                        <p class="label__title">
                            Код по ОКВЭД
                        </p>
                        <input class="input" type="text">
                    </label>
                </div>
                <div class="data__separator">
                    <div class="data__separator-icon"></div>
                </div>
                <div class="data__block">
                    <div class="data__header">
                        <p class="data__header-title">
                            Для связи
                        </p>
                    </div>
                    <label class="label data__label data__label--30">
                        <p class="label__title data__label-title">
                            Почтовый индекс
                        </p>
                        <input class="input" type="text">
                    </label>
                    <label class="label data__label data__label--70">
                        <p class="label__title data__label-title">
                            Почтовый адрес
                        </p>
                        <input class="input" type="text">
                    </label>
                    
                </div>
                <div class="data__separator">
                    <div class="data__separator-icon"></div>
                </div>
                <div class="data__block">
                    <div class="data__header">
                        <p class="data__header-title">
                            Банковские реквизиты
                        </p>
                    </div>
                    <label class="label data__label data__label--100">
                        <p class="label__title data__label-title">
                            Расчетный счет
                        </p>
                        <input class="input" type="text">
                    </label>
                    <label class="label data__label data__label--100">
                        <p class="label__title data__label-title">
                            Банк
                        </p>
                        <input class="input" type="text">
                    </label>
                </div>
                <div class="data__separator">
                    <div class="data__separator-icon"></div>
                </div>
                <div class="data__block data__block--managers">
                    <div class="data__header">
                        <p class="data__header-title">
                            Менеджеры
                        </p>
                    </div>
                    <div class="data__manager">
                        <label class="label data__label data__label--manager">
                            <p class="label__title data__label-title">
                                ФИО менеджера
                            </p>
                            <input class="input" type="text" name="ulmanager_0">
                        </label>
                        <div class="btn btn--black data__manager-btn">
                            Удалить
                        </div>
                    </div>
                    <div class="data__added-managers">
                        
                    </div>
                    <div class="btn data__add-manager">
                        <svg class="icon-svg">
                        <use xlink:href="img/sprites/svg/symbols.svg#icon-plus"></use>
                        </svg>
                        <span>Добавить менеджера</span>
                    </div>
                </div>
                <br>
                <a href="#" class="btn btn--dark data__btn">
                    Сохранить
                </a>
            </section>
        </div>
    </main>
</div>
//= blocks/footer.html
//= blocks/hiddens.html
//= includes/scripts.html
</body>
</html>