<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Список туров</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    //= includes/head-links.html
</head>
<body class="body" id="page">
    //= blocks/header.html
    //= sections/breadcrumbs.html
    <main class="main">
        <div class="container container--columns">
            <div class="content">
                <section class="list">
                    <h2 class="title list__title">
                        Экскурсии по Калининградской области
                    </h2>
                    <article class="list-item">
                        <div class="list-item__thumb-column" style="background-image: url(http://placehold.it/1000x600);">
                            <p class="list-item__title-block">
                                Куршская коса
                            </p>
                        </div>
                        <div class="list-item__content-column">
                            <div class="list-item__content-top">
                                <p class="list-item__title">
                                    Куршская коса
                                </p>
                                <!-- <p class="list-item__status list-item__status--little">
                                    Мест на ближайший тур осталось мало
                                </p> -->
                                <div class="list-item__text">
                                    <p>
                                        <b>Категория:</b> <a href="#">Пешая</a>, <a href="#">Замки</a> 
                                    </p>
                                    <p>
                                        <b>Начало:</b> 10:00 
                                    </p>
                                    <p>
                                        <b>Длительность:</b> 6 часов
                                    </p>
                                    <br>
                                    <p>
                                        Главные достопримечательности <br> Куршской косы
                                    </p>
                                </div>
                            </div>
                            <div class="list-item__content-bottom">
                                <div class="price list-item__price">
                                    <!-- <span class="price__start">
                                        от
                                    </span> -->
                                    <span class="price__money">
                                        1200
                                    </span>
                                    <span class="price__currency">
                                        руб
                                    </span>
                                    <span class="fact" aria-label="Цена за одного взрослого" data-microtip-position="top-right" role="tooltip">
                                        <svg class="icon-svg">
                                            <use xlink:href="img/sprites/svg/symbols.svg#icon-warning"></use>
                                        </svg>
                                    </span>
                                </div>
                                <p class="list-item__discript">
                                    <!-- С экскурс. пакетом (Краков + Высокие Татры) -->
                                </p>
                                <a href="single-tour.html" class="btn btn--contrast list-item__btn list-item__btn--more">
                                    Подробнее
                                </a>
                                <a href="single-tour.html" class="btn btn--dark list-item__btn list-item__btn--bye">
                                    Забронировать
                                </a>
                            </div>
                        </div>
                    </article>
                    <article class="list-item">
                        <div class="list-item__thumb-column" style="background-image: url(http://placehold.it/1000x600);">
                            <p class="list-item__title-block">
                                Куршская коса
                            </p>
                        </div>
                        <div class="list-item__content-column">
                            <div class="list-item__content-top">
                                <p class="list-item__title">
                                    Куршская коса
                                </p>
                                <!-- <p class="list-item__status list-item__status--little">
                                    Мест на ближайший тур осталось мало
                                </p> -->
                                <div class="list-item__text">
                                    <p>
                                        <b>Категория:</b> <a href="#">Пешая</a>, <a href="#">Замки</a> 
                                    </p>
                                    <p>
                                        <b>Начало:</b> 10:00 
                                    </p>
                                    <p>
                                        <b>Длительность:</b> 6 часов
                                    </p>
                                    <br>
                                    <p>
                                        Главные достопримечательности <br> Куршской косы
                                    </p>
                                </div>
                            </div>
                            <div class="list-item__content-bottom">
                                <div class="price list-item__price">
                                    <!-- <span class="price__start">
                                        от
                                    </span> -->
                                    <span class="price__money">
                                        1200
                                    </span>
                                    <span class="price__currency">
                                        руб
                                    </span>
                                    <span class="fact" aria-label="Цена за одного взрослого" data-microtip-position="top-right" role="tooltip">
                                        <svg class="icon-svg">
                                            <use xlink:href="img/sprites/svg/symbols.svg#icon-warning"></use>
                                        </svg>
                                    </span>
                                </div>
                                <p class="list-item__discript">
                                    <!-- С экскурс. пакетом (Краков + Высокие Татры) -->
                                </p>
                                <a href="single-tour.html" class="btn btn--contrast list-item__btn list-item__btn--more">
                                    Подробнее
                                </a>
                                <a href="single-tour.html" class="btn btn--dark list-item__btn list-item__btn--bye">
                                    Забронировать
                                </a>
                            </div>
                        </div>
                    </article>
                    <article class="list-item">
                        <div class="list-item__thumb-column" style="background-image: url(http://placehold.it/1000x600);">
                            <p class="list-item__title-block">
                                Куршская коса
                            </p>
                        </div>
                        <div class="list-item__content-column">
                            <div class="list-item__content-top">
                                <p class="list-item__title">
                                    Куршская коса
                                </p>
                                <!-- <p class="list-item__status list-item__status--little">
                                    Мест на ближайший тур осталось мало
                                </p> -->
                                <div class="list-item__text">
                                    <p>
                                        <b>Категория:</b> <a href="#">Пешая</a>, <a href="#">Замки</a> 
                                    </p>
                                    <p>
                                        <b>Начало:</b> 10:00 
                                    </p>
                                    <p>
                                        <b>Длительность:</b> 6 часов
                                    </p>
                                    <br>
                                    <p>
                                        Главные достопримечательности <br> Куршской косы
                                    </p>
                                </div>
                            </div>
                            <div class="list-item__content-bottom">
                                <div class="price list-item__price">
                                    <!-- <span class="price__start">
                                        от
                                    </span> -->
                                    <span class="price__money">
                                        1200
                                    </span>
                                    <span class="price__currency">
                                        руб
                                    </span>
                                    <span class="fact" aria-label="Цена за одного взрослого" data-microtip-position="top-right" role="tooltip">
                                        <svg class="icon-svg">
                                            <use xlink:href="img/sprites/svg/symbols.svg#icon-warning"></use>
                                        </svg>
                                    </span>
                                </div>
                                <p class="list-item__discript">
                                    <!-- С экскурс. пакетом (Краков + Высокие Татры) -->
                                </p>
                                <a href="single-tour.html" class="btn btn--contrast list-item__btn list-item__btn--more">
                                    Подробнее
                                </a>
                                <a href="single-tour.html" class="btn btn--dark list-item__btn list-item__btn--bye">
                                    Забронировать
                                </a>
                            </div>
                        </div>
                    </article>
                </section>
                //= blocks/pagination.html
            </div>
            <aside class="aside aside--mob-top">
                <div class="sidebar filter__sidebar">
                    <label class="filter__label">
                        <p class="filter__label-title">
                            Категория
                        </p>
                        <select class="filter__select filter__select--100 filter__select--types" >
                            <option value="1">Замки</option>
                            <option value="2">Категория 2</option>
                            <option value="3">Категория 3</option>
                            <option value="4">Категория 4</option>
                            <option value="5">Категория 5</option>
                        </select>
                    </label>
                    <label class="filter__label filter__label--50">
                        <p class="filter__label-title">
                            Дата экскурсии, с
                        </p>
                        <input class="filter__date filter__date--side" type="text" placeholder="04.06.2019" id="datepicker-start">
                    </label>
                    <label class="filter__label filter__label--50">
                        <p class="filter__label-title">
                            Дата экскурсии, по
                        </p>
                        <input class="filter__date filter__date--side" type="text" placeholder="04.07.2019" id="datepicker-finish">
                    </label>
                    <button class="filter__btn">Поиск</button>
                </div>
            </aside>
        </div>
    </main>
    //= blocks/footer.html
    //= blocks/hiddens.html
    //= includes/scripts.html
</body>
</html>