<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Калиниград-тур</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    //= includes/head-links.html
</head>
<body class="body" id="page">
    //= blocks/header.html
    <main class="main">
        <!-- Далее идет контент, он будет меняться -->
        //= sections/breadcrumbs.html
        <div class="container">
            <section class="reviews-page">
                <div class="reviews-page__header">
                    <h2 class="title reviews-page__title">
                        FAQ
                    </h2>
                    <a href="write-review.html" class="btn btn--dark reviews-page__btn">
                        Задать свой вопрос
                    </a>
                </div>
                <article class="faq">
                    <div class="faq__header">
                        За какой срок до отправления в тур нужно заказывать визу?
                    </div>
                    <div class="faq__bottom">
                        <div class="faq__content">
                            Для решения большинства туристических вопросов «внутренний» паспорт за границей не понадобится. Разве что в случае утери загранпаспорта во время путешествия. Брать его с собой или оставить дома, следует решить по собственному усмотрению.
                        </div>
                    </div>
                </article>
                <article class="faq">
                    <div class="faq__header">
                        За какой срок до отправления в тур нужно заказывать визу?
                    </div>
                    <div class="faq__bottom">
                        <div class="faq__content">
                            Для решения большинства туристических вопросов «внутренний» паспорт за границей не понадобится. Разве что в случае утери загранпаспорта во время путешествия. Брать его с собой или оставить дома, следует решить по собственному усмотрению.
                        </div>
                    </div>
                </article>
                <article class="faq">
                    <div class="faq__header">
                        За какой срок до отправления в тур нужно заказывать визу?
                    </div>
                    <div class="faq__bottom">
                        <div class="faq__content">
                            Для решения большинства туристических вопросов «внутренний» паспорт за границей не понадобится. Разве что в случае утери загранпаспорта во время путешествия. Брать его с собой или оставить дома, следует решить по собственному усмотрению.
                        </div>
                    </div>
                </article>
                <article class="faq">
                    <div class="faq__header">
                        За какой срок до отправления в тур нужно заказывать визу?
                    </div>
                    <div class="faq__bottom">
                        <div class="faq__content">
                            Для решения большинства туристических вопросов «внутренний» паспорт за границей не понадобится. Разве что в случае утери загранпаспорта во время путешествия. Брать его с собой или оставить дома, следует решить по собственному усмотрению.
                        </div>
                    </div>
                </article>
                <article class="faq">
                    <div class="faq__header">
                        За какой срок до отправления в тур нужно заказывать визу?
                    </div>
                    <div class="faq__bottom">
                        <div class="faq__content">
                            Для решения большинства туристических вопросов «внутренний» паспорт за границей не понадобится. Разве что в случае утери загранпаспорта во время путешествия. Брать его с собой или оставить дома, следует решить по собственному усмотрению.
                        </div>
                    </div>
                </article>
                <article class="faq">
                    <div class="faq__header">
                        За какой срок до отправления в тур нужно заказывать визу?
                    </div>
                    <div class="faq__bottom">
                        <div class="faq__content">
                            Для решения большинства туристических вопросов «внутренний» паспорт за границей не понадобится. Разве что в случае утери загранпаспорта во время путешествия. Брать его с собой или оставить дома, следует решить по собственному усмотрению.
                        </div>
                    </div>
                </article>
                <article class="faq">
                    <div class="faq__header">
                        За какой срок до отправления в тур нужно заказывать визу?
                    </div>
                    <div class="faq__bottom">
                        <div class="faq__content">
                            Для решения большинства туристических вопросов «внутренний» паспорт за границей не понадобится. Разве что в случае утери загранпаспорта во время путешествия. Брать его с собой или оставить дома, следует решить по собственному усмотрению.
                        </div>
                    </div>
                </article>
                <article class="faq">
                    <div class="faq__header">
                        За какой срок до отправления в тур нужно заказывать визу?
                    </div>
                    <div class="faq__bottom">
                        <div class="faq__content">
                            Для решения большинства туристических вопросов «внутренний» паспорт за границей не понадобится. Разве что в случае утери загранпаспорта во время путешествия. Брать его с собой или оставить дома, следует решить по собственному усмотрению.
                        </div>
                    </div>
                </article>
                <article class="faq">
                    <div class="faq__header">
                        За какой срок до отправления в тур нужно заказывать визу?
                    </div>
                    <div class="faq__bottom">
                        <div class="faq__content">
                            Для решения большинства туристических вопросов «внутренний» паспорт за границей не понадобится. Разве что в случае утери загранпаспорта во время путешествия. Брать его с собой или оставить дома, следует решить по собственному усмотрению.
                        </div>
                    </div>
                </article>
            </section>
            //= blocks/pagination.html
        </div>
        
    </main>
    //= blocks/footer.html
    //= blocks/hiddens.html
    //= includes/scripts.html
</body>
</html>