<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Калиниград-тур</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    //= includes/head-links.html
</head>
<body class="body" id="page">
    //= blocks/header.html
    <main class="main">
        //= sections/note.html
        //= sections/main-filter.html
        //= sections/types-tours.html
        //= sections/bus-tours.html
        //= sections/excursions.html
        //= sections/services.html
    </main>
    //= blocks/footer.html
    //= blocks/hiddens.html
    //= includes/scripts.html
</body>
</html>