<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Gulppack</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    //= includes/head-links.html
</head>
<body class="body">
    //= blocks/header.html
    <svg class="icon-svg">
        <use xlink:href="img/sprites/svg/symbols.svg#icon-vk"></use>
    </svg>
    <main>
        <h1>Основной контент сайта</h1>
    </main>
    //= blocks/footer.html
    //= includes/scripts.html
</body>
</html>