<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Страница 404</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    //= includes/head-links.html
</head>
<body class="body" id="page">
    //= blocks/header.html
    <main class="main">
        <!-- Далее идет контент, он будет меняться -->
        //= sections/breadcrumbs.html
        <div class="container">
        	<section class="none">
        		<div class="none__thumb-column">
        			<img src="img/404.svg" alt="Картинка 404">
        		</div>
        		<div class="none__content-column">
        			<h2 class="title none__title">
        				Ошибка!
        			</h2>
        			<p>
        				Ой... кажется, что-то пошло не так.
        				<br>
        				Страница, которую вы искали, не существует или вы ввели её адрес с ошибкой.
        				<br>
        				<br>
        				В любом случае, если вы планируете провести свой отпуск в красивом месте с богатой историей, посмотрите <a href="index.html">наши предложения </a>
        			</p>
        		</div>
        	</section>
        </div>
    </main>
    //= blocks/footer.html
    //= blocks/hiddens.html
    //= includes/scripts.html
</body>
</html>