<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Калиниград-тур</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    //= includes/head-links.html
</head>
<body class="body" id="page">
    //= blocks/header.html
    <main class="main">
        <!-- Далее идет контент, он будет меняться -->
        //= sections/breadcrumbs.html
        <div class="container">
            <section class="reviews-page">
                <div class="reviews-page__header">
                    <h2 class="title reviews-page__title">
                        Отзывы
                    </h2>
                    <a href="write-review.html" class="btn btn--dark reviews-page__btn">
                        Оставить отзыв
                    </a>
                </div>
                
                <article class="review">
                    <div class="review__info">
                        <span class="review__name">
                            Соня Мармеладова
                        </span>
                        <span class="review__date">
                            14.09.2018
                        </span>
                    </div>
                    <p class="review__text">
                        Среди всех моих многочисленных слабостей особое место занимает Европа и влюбленные в свою работу люди. Поэтому спонтанное посещение Праги вместе с "Калининград Туром" было отличной идеей! Представители агентства предложат экскурсии на любой вкус. Лично я хотела посмотреть нетуристическую Прагу, за исполнение этого желания огромное спасибо Виталию!
                    </p>
                </article>
                <article class="review">
                    <div class="review__info">
                        <span class="review__name">
                            Соня Мармеладова
                        </span>
                        <span class="review__date">
                            14.09.2018
                        </span>
                    </div>
                    <p class="review__text">
                        Среди всех моих многочисленных слабостей особое место занимает Европа и влюбленные в свою работу люди. Поэтому спонтанное посещение Праги вместе с "Калининград Туром" было отличной идеей! Представители агентства предложат экскурсии на любой вкус. Лично я хотела посмотреть нетуристическую Прагу, за исполнение этого желания огромное спасибо Виталию!
                    </p>
                </article>
                <article class="review">
                    <div class="review__info">
                        <span class="review__name">
                            Соня Мармеладова
                        </span>
                        <span class="review__date">
                            14.09.2018
                        </span>
                    </div>
                    <p class="review__text">
                        Среди всех моих многочисленных слабостей особое место занимает Европа и влюбленные в свою работу люди. Поэтому спонтанное посещение Праги вместе с "Калининград Туром" было отличной идеей! Представители агентства предложат экскурсии на любой вкус. Лично я хотела посмотреть нетуристическую Прагу, за исполнение этого желания огромное спасибо Виталию!
                    </p>
                </article>
            </section>
            //= blocks/pagination.html
        </div>
        
    </main>
    //= blocks/footer.html
    //= blocks/hiddens.html
    //= includes/scripts.html
</body>
</html>