<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Калиниград-тур</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    //= includes/head-links.html
</head>
<body class="body" id="page">
    //= blocks/header.html
    //= sections/breadcrumbs.html
    <main class="main">
        <!-- Далее идет контент, он будет меняться -->
        <div class="container container--columns">
            <div class="content">
                <section class="tour">
                    <div class="slider tour__slider tour__slider--ex swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide slider__slide">
                                <img src="http://placehold.it/1000x600" alt="Изображение в слайдере">
                            </div>
                            <div class="swiper-slide slider__slide">
                                <img src="http://placehold.it/1000x600" alt="Изображение в слайдере">
                            </div>
                            <div class="swiper-slide slider__slide">
                                <img src="http://placehold.it/1000x600" alt="Изображение в слайдере">
                            </div>
                            <div class="swiper-slide slider__slide">
                                <img src="http://placehold.it/1000x600" alt="Изображение в слайдере">
                            </div>
                            <div class="swiper-slide slider__slide">
                                <img src="http://placehold.it/1000x600" alt="Изображение в слайдере">
                            </div>
                        </div>
                        <div class="slider__nav">
                            <div class="slider__btn slider__btn--prev">
                                <svg class="icon-svg">
                                    <use xlink:href="img/sprites/svg/symbols.svg#icon-next"></use>
                                </svg>
                            </div>
                            <div class="slider__btn slider__btn--next">
                                <svg class="icon-svg">
                                    <use xlink:href="img/sprites/svg/symbols.svg#icon-next"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="text" id="tour-plan">
                    <h2 class="h2 text__h2">
                        Экскурсия “Обзорная по Калининграду”
                    </h2>
                    <div class="text__columns">
                        <div class="text__column">
                            <p class="text__column-title">
                                Расписание: 
                            </p>
                            <p>
                                Вторник, среда, четверг, пятница
                            </p>
                            <p>
                                <b>Начало в 10:00</b>
                            </p>
                        </div>
                        <div class="text__column">
                            <p class="text__column-title">
                                Место отправления:
                            </p>
                            <p>
                                г. Калининград, Ленинский пр-т, 15
                            </p>
                            <p class="text__column-title">
                                Продолжительность:
                            </p>
                            <p>
                                3 часа
                            </p>
                        </div>
                    </div>
                    <div class="text__content text__content--bg">
                        <h3>1 день</h3> 
                        <p>Ранний выезд из Калининграда. Транзитный переезд по территории Польши. Прибытие в г. Попрад (Словакия). Размещение в отеле 3*. Свободное время. Ночь в отеле.</p> 
                        <h3>2 день</h3> 
                        <p>Завтрак. Свободное время, отдых на курорте, катание на лыжах. Для желающих факультативно экскурсия Высокие Татры* (Штребское Плесо, Смоковец, Татранская Ломница). Вечером факультативно поездка в термальные бассейны в Врбов* (температура воды от 26 до 45 градусов). Термальная вода благотворно воздействует на двигательный аппарат, урологическую систему, дыхательные пути и обладает положительными косметическими свойствами. Ночь в отеле. </p>
                        <h3>3 день</h3> 
                        <p>Завтрак. Для желающих - поездка в Белянскую пещеру*, которая является одной из самых посещаемых пещер в Словакии. Во второй половине дня для желающих факультативно экскурсия Левоча + замок Стражки*. Королевский город Левоча - магический центр словацкого ренессанса основан в 1249 году. Готические костелы города уникальны своими интерьерами. Самый большой деревянный готический алтарь в мире - в церкви Святого Якуба, городская ратуша, музей скульптора Павола, дома с редкими фресками - позволят погрузиться в атмосферу средневековой Европы. Стражки - Ренессансный костел, спроектированный и построенный легендарным мастером Грегором Хорватом-Станситом предлагает экспозиции старинной мебели и домашних аксессуаров 17-19 вв. Вечером факультативно поездка в термальные бассейны в Врбов*. Ночь в отеле. </p>
                        <h3>4 день</h3> 
                        <p>Завтрак. Свободное время или факультативно экскурсия в Замок Любовнянский Град* 13-го века и посещение единственного в Словакии завода по производству виски завода NESTVILLE* (экскурсия+дегустация виски, произведенные по старинным рецептам). Знакомство с национальными старинными секретами производства напитка. Вечером факультативно поездка в термальные бассейны в Врбов*. Ночь в отеле. </p>
                        <h3>5 день</h3> 
                        <p>Завтрак. Свободное время, отдых и катание на лыжах на горнолыжных курортах Высокие Татры. Вечером факультативно Рождественский ужин в национальной словацкой колибе с живой музыкой*. Ночь в отеле.</p> 
                        <h3>6 день</h3> 
                        <p>Завтрак. Выезд из отеля. Переезд по территории Словакии, Польши. Позднее прибытие в Калининград.</p>
                    </div>
                </section>
                <section class="route" id="tour-route">
                    <h2 class="h2 route__h2">
                        Карта маршрута
                    </h2>
                    <div class="route__text">
                        <p class="route__text-title">
                            Маршрут:
                        </p>
                        <p>
                            Рыбная деревня - Кафедральный собор (обзорно) - Закхаймские ворота - Королевские ворота - Литовский вал - Башня “Дона” - штаб Балтийского флота - Памятник Петру I - памятник Шиллеру - район старых немецких вилл “Амалиенау” (Ул. Кутузова) - Музей-квартира кёнигсбергского быта “Altes Haus” (с посещением).
                        </p>
                    </div>
                    <div class="route__map" id="tour-route-map">

                    </div>
                    <script>
                        document.addEventListener('DOMContentLoaded', function() {
                            var myMap;

                            ymaps.ready(init);

                            function init () {
                                myMap = new ymaps.Map('tour-route-map', {

                                    center: [55.76, 37.64],
                                    zoom: 10
                                }, {
                                    searchControlProvider: 'yandex#search'
                                });
                            }
                        }, false);

                    </script>
                </section>
                <section class="video">
                    <h2 class="h2 video__h2">
                        Видео-обзор
                    </h2>
                    <div class="video__content">
                        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/ZE-Z0PUnFmo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </section>
            </div>
            <aside class="aside aside--mob-bottom">
                <div class="sidebar">
                    <div class="side-header">
                        Ближайшая экскурсия: 23.03.2019 в 10:00
                    </div>
                    <hr>
                    <form class="side-form">
                        <label class="filter__label--100 side-form__date">
                            <p class="filter__label-title">
                                Выберите дату:
                            </p>
                            <input class="filter__date filter__date--side" type="text" placeholder="04.06.2019" id="datepicker-start">
                        </label>
                        <div class="side-form__line">
                            <div class="side-form__row side-form__row--1">
                                Тип билета
                            </div>
                            <div class="side-form__row side-form__row--2">
                                Цена
                            </div>
                            <div class="side-form__row side-form__row--3">
                                Количество
                            </div>
                        </div>
                        <div class="side-form__line">
                            <div class="side-form__row side-form__row--1">
                                Взрослый
                            </div>
                            <div class="side-form__row side-form__row--2">
                                1400
                            </div>
                            <div class="side-form__row side-form__row--3">
                                <div class="rater">
                                    <div class="rater__link rater__link--minus rater__link--disabled">
                                        <svg class="icon-svg">
                                            <use xlink:href="img/sprites/svg/symbols.svg#icon-arrow"></use>
                                        </svg>
                                    </div>
                                    <input type="text" class="rater__input" value="0">
                                    <div class="rater__link rater__link--plus">
                                        <svg class="icon-svg">
                                            <use xlink:href="img/sprites/svg/symbols.svg#icon-arrow"></use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="side-form__line">
                            <div class="side-form__row side-form__row--1">
                                Ребенок (7-16)
                            </div>
                            <div class="side-form__row side-form__row--2">
                                800
                            </div>
                            <div class="side-form__row side-form__row--3">
                                <div class="rater">
                                    <div class="rater__link rater__link--minus rater__link--disabled">
                                        <svg class="icon-svg">
                                            <use xlink:href="img/sprites/svg/symbols.svg#icon-arrow"></use>
                                        </svg>
                                    </div>
                                    <input type="text" class="rater__input" value="0">
                                    <div class="rater__link rater__link--plus">
                                        <svg class="icon-svg">
                                            <use xlink:href="img/sprites/svg/symbols.svg#icon-arrow"></use>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="side-form__line">
                            <div class="side-form__row side-form__row--1">
                               Ребенок (до 6) 
                           </div>
                           <div class="side-form__row side-form__row--2">
                            400
                        </div>
                        <div class="side-form__row side-form__row--3">
                            <div class="rater">
                                <div class="rater__link rater__link--minus rater__link--disabled">
                                    <svg class="icon-svg">
                                        <use xlink:href="img/sprites/svg/symbols.svg#icon-arrow"></use>
                                    </svg>
                                </div>
                                <input type="text" class="rater__input" value="0">
                                <div class="rater__link rater__link--plus">
                                    <svg class="icon-svg">
                                        <use xlink:href="img/sprites/svg/symbols.svg#icon-arrow"></use>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="side-form__line">
                        <div class="side-form__row side-form__row--1">
                           Льготный <br> (пенсионер, студент)
                           <span class="fact" aria-label="какая-либо дополнительная информация" data-microtip-position="top-right" role="tooltip">
                            <svg class="icon-svg">
                                <use xlink:href="img/sprites/svg/symbols.svg#icon-warning"></use>
                            </svg>
                        </span>
                    </div>
                    <div class="side-form__row side-form__row--2">
                        1000
                    </div>
                    <div class="side-form__row side-form__row--3">
                        <div class="rater">
                            <div class="rater__link rater__link--minus rater__link--disabled">
                                <svg class="icon-svg">
                                    <use xlink:href="img/sprites/svg/symbols.svg#icon-arrow"></use>
                                </svg>
                            </div>
                            <input type="text" class="rater__input" value="0">
                            <div class="rater__link rater__link--plus">
                                <svg class="icon-svg">
                                    <use xlink:href="img/sprites/svg/symbols.svg#icon-arrow"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <p class="side-form__result">
                   Итого: 2200 руб 
                </p>
                <button class="filter__btn side-form__btn">Купить</button>
            </form>
        </div>
    </aside>
</div>

</main>
//= blocks/footer.html
//= blocks/hiddens.html
//= includes/scripts.html
</body>
</html>