<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Калиниград-тур</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    //= includes/head-links.html
</head>
<body class="body" id="page">
    //= blocks/header.html
    <main class="main">
        <!-- Далее идет контент, он будет меняться -->
        //= sections/breadcrumbs.html
        //= sections/tour.html
        <div class="container container--columns">
            <div class="content">
                <!-- //= sections/tour-content.html -->
                <section class="text section-anchor" id="tour-plan">
                    <h2 class="h2 text__h2">
                        Программа тура по дням
                    </h2>
                    <div class="text__content text__content--bg">
                        <h3>1 день</h3> 
                        <p>Ранний выезд из Калининграда. Транзитный переезд по территории Польши. Прибытие в г. Попрад (Словакия). Размещение в отеле 3*. Свободное время. Ночь в отеле.</p> 
                        <h3>2 день</h3> 
                        <p>Завтрак. Свободное время, отдых на курорте, катание на лыжах. Для желающих факультативно экскурсия Высокие Татры* (Штребское Плесо, Смоковец, Татранская Ломница). Вечером факультативно поездка в термальные бассейны в Врбов* (температура воды от 26 до 45 градусов). Термальная вода благотворно воздействует на двигательный аппарат, урологическую систему, дыхательные пути и обладает положительными косметическими свойствами. Ночь в отеле. </p>
                        <h3>3 день</h3> 
                        <p>Завтрак. Для желающих - поездка в Белянскую пещеру*, которая является одной из самых посещаемых пещер в Словакии. Во второй половине дня для желающих факультативно экскурсия Левоча + замок Стражки*. Королевский город Левоча - магический центр словацкого ренессанса основан в 1249 году. Готические костелы города уникальны своими интерьерами. Самый большой деревянный готический алтарь в мире - в церкви Святого Якуба, городская ратуша, музей скульптора Павола, дома с редкими фресками - позволят погрузиться в атмосферу средневековой Европы. Стражки - Ренессансный костел, спроектированный и построенный легендарным мастером Грегором Хорватом-Станситом предлагает экспозиции старинной мебели и домашних аксессуаров 17-19 вв. Вечером факультативно поездка в термальные бассейны в Врбов*. Ночь в отеле. </p>
                        <h3>4 день</h3> 
                        <p>Завтрак. Свободное время или факультативно экскурсия в Замок Любовнянский Град* 13-го века и посещение единственного в Словакии завода по производству виски завода NESTVILLE* (экскурсия+дегустация виски, произведенные по старинным рецептам). Знакомство с национальными старинными секретами производства напитка. Вечером факультативно поездка в термальные бассейны в Врбов*. Ночь в отеле. </p>
                        <h3>5 день</h3> 
                        <p>Завтрак. Свободное время, отдых и катание на лыжах на горнолыжных курортах Высокие Татры. Вечером факультативно Рождественский ужин в национальной словацкой колибе с живой музыкой*. Ночь в отеле.</p> 
                        <h3>6 день</h3> 
                        <p>Завтрак. Выезд из отеля. Переезд по территории Словакии, Польши. Позднее прибытие в Калининград.</p>
                    </div>
                </section>
                <section class="route section-anchor" id="tour-route">
                    <h2 class="h2 route__h2">
                        Маршрут тура
                    </h2>
                    <div class="route__map" id="tour-route-map">

                    </div>
                    <script>
                        document.addEventListener('DOMContentLoaded', function() {
                            var myMap;

                            ymaps.ready(init);

                            function init () {
                                myMap = new ymaps.Map('tour-route-map', {

                                    center: [55.76, 37.64],
                                    zoom: 10
                                }, {
                                    searchControlProvider: 'yandex#search'
                                });
                            }
                        }, false);

                    </script>
                </section>
                //= sections/features.html
                //= sections/add-service.html
                //= sections/reviews.html
                //= sections/tour-text.html
                //= sections/tour-booking.html
            </div>
            <aside class="aside mobile-hidden">
               //= blocks/sidebar.html
           </aside>
       </div>
   </main>
   //= blocks/footer.html
   //= blocks/hiddens.html
   //= includes/scripts.html
</body>
</html>