<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Калиниград-тур</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    //= includes/head-links.html
</head>
<body class="body" id="page">
    //= blocks/header.html
    <main class="main">
        <!-- Далее идет контент, он будет меняться -->
        //= sections/breadcrumbs.html
        <div class="container container--columns">
            <div class="content">
                <!-- //= sections/tour-text.html -->
                <section class="post">
                    <div class="slider post__slider swiper-container">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide slider__slide">
                                <img src="http://placehold.it/1000x600" alt="Изображение в слайдере">
                            </div>
                            <div class="swiper-slide slider__slide">
                                <img src="http://placehold.it/1000x600" alt="Изображение в слайдере">
                            </div>
                            <div class="swiper-slide slider__slide">
                                <img src="http://placehold.it/1000x600" alt="Изображение в слайдере">
                            </div>
                            <div class="swiper-slide slider__slide">
                                <img src="http://placehold.it/1000x600" alt="Изображение в слайдере">
                            </div>
                            <div class="swiper-slide slider__slide">
                                <img src="http://placehold.it/1000x600" alt="Изображение в слайдере">
                            </div>
                        </div>
                        <div class="slider__nav">
                            <div class="slider__btn slider__btn--prev">
                                <svg class="icon-svg">
                                    <use xlink:href="img/sprites/svg/symbols.svg#icon-next"></use>
                                </svg>
                            </div>
                            <div class="slider__btn slider__btn--next">
                                <svg class="icon-svg">
                                    <use xlink:href="img/sprites/svg/symbols.svg#icon-next"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="post__content">
                        <h2 class="post__title">
                            Как мы съездили в Дрезден
                        </h2>
                        <p>
                            Дрезден, столица Саксонии (федеральной земли ФРГ), раскинулся на берегах Эльбы. От этого города до чешских границ каких-то сорок километров, поэтому любители путешествий и оглянуться не успеют, как очутятся здесь. Каким образом? Уж нет ничего легче, поверьте! Достаточно сделать звонок в компанию Калининград Тур и заказать у нас экскурсии по Европе. Их программой как раз и предусмотрено путешествие в Дрезден - город, относящийся к историческим, экономическим, культурным и транспортным центрам Германии.
                        </p>
                        <h3 class="post__subtitle">
                            Манящая уникальность Дрездена
                        </h3>
                        <p>
                            Дрезден, столица Саксонии (федеральной земли ФРГ), раскинулся на берегах Эльбы. От этого города до чешских границ каких-то сорок километров, поэтому любители путешествий и оглянуться не успеют, как очутятся здесь. Каким образом? Уж нет ничего легче, поверьте! Достаточно сделать звонок в компанию Калининград Тур и заказать у нас экскурсии по Европе. Их программой как раз и предусмотрено путешествие в Дрезден - город, относящийся к историческим, экономическим, культурным и транспортным центрам Германии.
                        </p>
                        <h3 class="post__subtitle">
                            Манящая уникальность Дрездена
                        </h3>
                        <p>
                            Дрезден, столица Саксонии (федеральной земли ФРГ), раскинулся на берегах Эльбы. От этого города до чешских границ каких-то сорок километров, поэтому любители путешествий и оглянуться не успеют, как очутятся здесь. Каким образом? Уж нет ничего легче, поверьте! Достаточно сделать звонок в компанию Калининград Тур и заказать у нас экскурсии по Европе. Их программой как раз и предусмотрено путешествие в Дрезден - город, относящийся к историческим, экономическим, культурным и транспортным центрам Германии.
                        </p>
                        <h3 class="post__subtitle">
                            Манящая уникальность Дрездена
                        </h3>
                        <p>
                            Дрезден, столица Саксонии (федеральной земли ФРГ), раскинулся на берегах Эльбы. От этого города до чешских границ каких-то сорок километров, поэтому любители путешествий и оглянуться не успеют, как очутятся здесь. Каким образом? Уж нет ничего легче, поверьте! Достаточно сделать звонок в компанию Калининград Тур и заказать у нас экскурсии по Европе. Их программой как раз и предусмотрено путешествие в Дрезден - город, относящийся к историческим, экономическим, культурным и транспортным центрам Германии.
                        </p>
                    </div>
                </section>
            </div>
            <aside class="aside mobile-hidden">
               <div class="sidebar">
                <div class="sidebar__menu side-menu">
                    <p class="sidebar__title side-menu__title"></p>
                    <a href="#tour-plan" class="side-menu__link side-menu__link--active">
                        Категория
                    </a>
                    <a href="#tour-route" class="side-menu__link">
                        Категория
                    </a>
                    <a href="#in-price" class="side-menu__link">
                        Категория
                    </a>
                    <a href="#add-service" class="side-menu__link">
                        Категория
                    </a>
                    <a href="#reviews-tour" class="side-menu__link">
                        Категория
                    </a>
                    <a href="#tips" class="side-menu__link">
                        Категория
                    </a>
                    <a href="#booking-hotel" class="side-menu__link">
                        Категория
                    </a>
                </div>
            </div>
        </aside>
    </div>
</main>
//= blocks/footer.html
//= blocks/hiddens.html
//= includes/scripts.html
</body>
</html>