<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Список туров</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    //= includes/head-links.html
</head>
<body class="body" id="page">
    //= blocks/header.html
    //= sections/breadcrumbs.html
    <main class="main">
        <div class="container container--columns">
            <div class="content">
                <section class="list">
                    <h2 class="title list__title">
                        Туры в Европу
                    </h2>
                    <div class="warning">
                        <img class="warning__thumb" src="img/attention.svg" alt="Внимание!">
                        <p class="warning__text">
                            Извините, на выбранные вами даты туров нет. Туры на ближайшие к условиям поиска даты указаны ниже:
                        </p>
                    </div>
                    <article class="list-item">
                        <div class="list-item__thumb-column" style="background-image: url(http://placehold.it/1000x600);">
                            <p class="list-item__title-block">
                                Гостеприимная Бавария
                            </p>
                        </div>
                        <div class="list-item__content-column">
                            <div class="list-item__content-top">
                                <p class="list-item__title">
                                    Гостеприимная Бавария
                                </p>
                                <p class="list-item__status list-item__status--little">
                                    Мест на ближайший тур осталось мало
                                </p>
                                <div class="list-item__text">
                                    <p>
                                        <b>Ближайшая дата:</b> 25.04.19 
                                    </p>
                                    <p>
                                        <b>Дней:</b> 6 
                                    </p>
                                    <p>
                                        Главные достопримечательности <br> Куршской косы
                                    </p>
                                </div>
                            </div>
                            <div class="list-item__content-bottom">
                                <div class="price list-item__price">
                                    <span class="price__start">
                                        от
                                    </span>
                                    <span class="price__money">
                                        240
                                    </span>
                                    <span class="price__currency">
                                        EUR
                                    </span>
                                </div>
                                <p class="list-item__discript">
                                    С экскурс. пакетом (Краков + Высокие Татры)
                                </p>
                                <a href="single-tour.html" class="btn btn--contrast list-item__btn list-item__btn--more">
                                    Подробнее
                                </a>
                                <a href="single-tour.html" class="btn btn--dark list-item__btn list-item__btn--bye">
                                    Забронировать
                                </a>
                            </div>
                        </div>
                    </article>
                    <article class="list-item">
                        <div class="list-item__thumb-column" style="background-image: url(http://placehold.it/1000x600);">
                            <p class="list-item__title-block">
                                Гостеприимная Бавария
                            </p>
                        </div>
                        <div class="list-item__content-column">
                            <div class="list-item__content-top">
                                <p class="list-item__title">
                                    Гостеприимная Бавария
                                </p>
                                <p class="list-item__status list-item__status--none">
                                    Места на ближайший тур закончились
                                </p>
                                <div class="list-item__text">
                                    <p>
                                        <b>Ближайшая дата:</b> 25.04.19 
                                    </p>
                                    <p>
                                        <b>Дней:</b> 6 
                                    </p>
                                    <p>
                                        Главные достопримечательности <br> Куршской косы
                                    </p>
                                </div>
                            </div>
                            <div class="list-item__content-bottom">
                                <div class="price list-item__price">
                                    <span class="price__start">
                                        от
                                    </span>
                                    <span class="price__money">
                                        240
                                    </span>
                                    <span class="price__currency">
                                        EUR
                                    </span>
                                </div>
                                <p class="list-item__discript">
                                    С экскурс. пакетом (Краков + Высокие Татры)
                                </p>
                                <a href="single-tour.html" class="btn btn--contrast list-item__btn list-item__btn--more">
                                    Подробнее
                                </a>
                            </div>
                        </div>
                    </article>
                    <article class="list-item">
                        <div class="list-item__thumb-column" style="background-image: url(http://placehold.it/1000x600);">
                            <p class="list-item__title-block">
                                Гостеприимная Бавария
                            </p>
                        </div>
                        <div class="list-item__content-column">
                            <div class="list-item__content-top">
                                <p class="list-item__title">
                                    Гостеприимная Бавария
                                </p>
                                <div class="list-item__text">
                                    <p>
                                        <b>Ближайшая дата:</b> 25.04.19 
                                    </p>
                                    <p>
                                        <b>Дней:</b> 6 
                                    </p>
                                    <p>
                                        Главные достопримечательности <br> Куршской косы
                                    </p>
                                </div>
                            </div>
                            <div class="list-item__content-bottom">
                                <div class="price list-item__price">
                                    <span class="price__start">
                                        от
                                    </span>
                                    <span class="price__money">
                                        240
                                    </span>
                                    <span class="price__currency">
                                        EUR
                                    </span>
                                </div>
                                <p class="list-item__discript">
                                    С экскурс. пакетом (Краков + Высокие Татры)
                                </p>
                                <a href="single-tour.html" class="btn btn--contrast list-item__btn list-item__btn--more">
                                    Подробнее
                                </a>
                                <a href="single-tour.html" class="btn btn--dark list-item__btn list-item__btn--bye">
                                    Забронировать
                                </a>
                            </div>
                        </div>
                    </article>
                </section>
                //= blocks/pagination.html
            </div>
            <aside class="aside aside--mob-top">
                <div class="sidebar filter__sidebar">
                    <label class="filter__label">
                        <p class="filter__label-title">
                            Тип тура
                        </p>
                        <select class="filter__select filter__select--100 filter__select--types" >
                            <option value="1">Экскурсионный</option>
                            <option value="2">Категория 2</option>
                            <option value="3">Категория 3</option>
                            <option value="4">Категория 4</option>
                            <option value="5">Категория 5</option>
                        </select>
                    </label>
                    <label class="filter__label">
                        <p class="filter__label-title">
                            Страна
                        </p>
                        <select class="filter__select filter__select--100 filter__select--contries" >
                            <option value="1">Германия</option>
                            <option value="2">Категория 2</option>
                            <option value="3">Категория 3</option>
                            <option value="4">Категория 4</option>
                            <option value="5">Категория 5</option>
                        </select>
                    </label>
                    <label class="filter__label filter__label--50">
                        <p class="filter__label-title">
                            Дата выезда, с
                        </p>
                        <input class="filter__date filter__date--side datapicker" type="text" placeholder="04.06.2019">
                    </label>
                    <label class="filter__label filter__label--50">
                        <p class="filter__label-title">
                            Дата выезда, по
                        </p>
                        <input class="filter__date filter__date--side datapicker" type="text" placeholder="04.07.2019">
                    </label>
                    <button class="filter__btn">Поиск</button>
                </div>
            </aside>
        </div>
    </main>
    //= blocks/footer.html
    //= blocks/hiddens.html
    //= includes/scripts.html
</body>
</html>