<!-- Футер больше не должен меняться (ну, вроде как <_< ) -->
<footer class="footer">
	<div class="container footer__container">
		<div class="footer__column footer__column--25">
			<a href="index.html" class="logo footer__logo">
				<img src="img/logo-light.svg" alt="Логотип Калиниград-Тур">
			</a>
			<a href="tel:+74012534400" class="footer__link">
				<svg class="icon-svg">
					<use xlink:href="img/sprites/svg/symbols.svg#icon-phone"></use>
				</svg>
				<span>
					(4012) 53-44-00
				</span>
			</a>
			<br>
			<a href="tel:+78002009106" class="footer__link">
				<svg class="icon-svg">
					<use xlink:href="img/sprites/svg/symbols.svg#icon-phone"></use>
				</svg>
				<span>
					8-800-200-91-06
				</span>
			</a>
			<br>
			<a href="mailto:kalinintour@yandex.ru" class="footer__link">
				<svg class="icon-svg">
					<use xlink:href="img/sprites/svg/symbols.svg#icon-mail"></use>
				</svg>
				<span>
					kalinintour@yandex.ru
				</span>
			</a>
			<br>
			<div data-micromodal-trigger="modal-write" class="btn btn--dark footer__btn">
				Написать
			</div>
		</div>
		<div class="footer__column footer__column--25">
			<p class="footer__text">
				<strong>Калининград-тур</strong><br>
				Калининград, ТЦ "Барнаульский", Барнаульская ул., 2, офис 219
			</p>
			<p class="footer__text">
				Время работы офиса:<br>
				пн-пт: 10-18<bR>
				сб: 10-15<br>
				вс: выходной
			</p>
			<br>
			<div class="social footer__social">
				<p class="social__title">
					Мы в социальных сетях:
				</p>
				<a href="#" class="social__link">
					<svg class="icon-svg">
						<use xlink:href="img/sprites/svg/symbols.svg#icon-vk"></use>
					</svg>
				</a>
				<a href="#" class="social__link">
					<svg class="icon-svg">
						<use xlink:href="img/sprites/svg/symbols.svg#icon-fb"></use>
					</svg>
				</a>
				<a href="#" class="social__link">
					<svg class="icon-svg">
						<use xlink:href="img/sprites/svg/symbols.svg#icon-inst"></use>
					</svg>
				</a>
				<a href="#" class="social__link">
					<svg class="icon-svg">
						<use xlink:href="img/sprites/svg/symbols.svg#icon-odnoklassniki"></use>
					</svg>
				</a>
				<a href="#" class="social__link">
					<svg class="icon-svg">
						<use xlink:href="img/sprites/svg/symbols.svg#icon-youtube"></use>
					</svg>
				</a>
			</div>
		</div>
		<div class="footer__column footer__column--50">
			<div class="rate footer__rate">
				<div class="rate__wrap">
					<p class="rate__title">
						Курс евро:
					</p>
					<p class="rate__money">
						67.74 
						<span class="rate__text">
							российских рубля
						</span>
					</p>
				</div>
			</div>
			<p class="footer__offer">
				Обращаем Ваше внимание на то, что данный интернет-сайт носит исключительно информационный характер и ни при каких условиях информационные материалы и цены, размещенные на сайте, не являются публичной офертой, определяемой положениями Статьи 437 Гражданского кодекса РФ.
			</p>
		</div>
		<a href="#header" class="footer__go-top go-top">
			<p class="go-top__text">
				В начало страницы
			</p>
			<div class="go-top__icon">
				<svg class="icon-svg">
					<use xlink:href="img/sprites/svg/symbols.svg#icon-next"></use>
				</svg>
				<svg class="icon-svg">
					<use xlink:href="img/sprites/svg/symbols.svg#icon-next"></use>
				</svg>
			</div>
		</a>
	</div>
	<div class="container footer__discript">
		Разработано <a href="https://diez.io/" target="_blank">#diez technologies</a>
	</div>
</footer>