<!-- Шапка больше не должна меняться, блок поиск будет жить отдельно и выезжать сверху страницы, как и мобильное меню -->
<header class="header" id="header">
	<div class="container">
		<div class="topline">
			<a href="index.html" class="logo topline__logo">
				<img src="img/logo.svg" alt="Логотип Калининград-тур">
			</a>
			<div class="rate topline__rate">
				<div class="rate__wrap">
					<p class="rate__title">
						Курс евро:
					</p>
					<p class="rate__money">
						67.74 <span class="rate__symbol">₽</span>
					</p>
				</div>
			</div>
			<a href="tel:+74012534400" class="topline__link topline__link--phone">
				<svg class="icon-svg">
					<use xlink:href="img/sprites/svg/symbols.svg#icon-phone"></use>
				</svg>
				<span>
					(4012) 53-44-00
				</span>
			</a>
			<a href="tel:+78002009106" class="topline__link topline__link--phone">
				<svg class="icon-svg">
					<use xlink:href="img/sprites/svg/symbols.svg#icon-phone"></use>
				</svg>
				<span>
					8-800-200-91-06
				</span>
			</a>
			<div data-micromodal-trigger="modal-login" class="topline__link topline__link--profile">
				<svg class="icon-svg">
					<use xlink:href="img/sprites/svg/symbols.svg#icon-user"></use>
				</svg>
				<span>
					Личный кабинет
				</span>
			</div>
			<div class="topline__menu">
				<svg class="icon-svg">
					<use xlink:href="img/sprites/svg/symbols.svg#icon-menu"></use>
				</svg>
			</div>
		</div>
		<nav class="navline">
			<a href="" class="navline__link">
				Туры в Европу
			</a>
			<a href="" class="navline__link">
				Экскурсии по Калининградской области
			</a>
			<a href="news.html" class="navline__link">
				Новости
			</a>
			<a href="faq.html" class="navline__link">
				Вопросы и ответы
			</a>
			<a href="reviews.html" class="navline__link">
				Отзывы
			</a>
			<a href="contacts.html" class="navline__link">
				Контакты
			</a>
			<div class="navline__search" id="open-search">
				<svg class="icon-svg">
					<use xlink:href="img/sprites/svg/symbols.svg#icon-search"></use>
				</svg>
			</div>
		</nav>
	</div>
</header>