<!-- Это блоки, которые по умолчанию скрыты. Их будет больше -->
<div class="hiddens">
	<div class="modal micromodal-slide" id="modal-login" aria-hidden="true">
		<div class="modal__overlay" tabindex="-1" data-micromodal-close>
			<div class="modal__container modal__container--small custom-scroll custom-scroll--accent" role="dialog" aria-modal="true" aria-labelledby="modal-login-title">
				<div class="modal__tab modal__tab--auth">
					<div class="modal__header">
						<h2 class="modal__title" id="modal-1-title">
							Авторизация
						</h2>
						<div class="modal__close close" aria-label="Закрыть окно" data-micromodal-close>
							<svg class="icon-svg" data-micromodal-close>
								<use xlink:href="img/sprites/svg/symbols.svg#icon-close"></use>
							</svg>
						</div>
					</div>
					<div class="modal__content" id="modal-1-content">
						<form action="" class="modal__form">
							<label class="label">
								<p class="label__title">
									Ваш email
								</p>
								<input class="input" id="auth-email" type="text">
							</label>
							<label class="label">
								<p class="label__title">
									Пароль
								</p>
								<input class="input" id="auth-password" type="password" type="text">
							</label>
							<br>
							<button class="modal__btn btn btn--dark">Войти</button>
						</form>
					</div>
					<div class="modal__footer">
						<p class="modal__text">
							Еще не зарегистрированы? <br> <span id="modal__link--reg" class="modal__link modal__link">Создать аккаунт</span>
						</p>
					</div>
				</div>
				<div class="modal__tab modal__tab--reg hidden">
					<div class="modal__header">
						<h2 class="modal__title" id="modal-1-title">
							Регистрация
						</h2>
						<div class="modal__close close" aria-label="Закрыть окно" data-micromodal-close>
							<svg class="icon-svg" data-micromodal-close>
								<use xlink:href="img/sprites/svg/symbols.svg#icon-close"></use>
							</svg>
						</div>
					</div>
					<div class="modal__content" id="modal-1-content">
						<form action="" class="modal__form">
							<label class="label">
								<p class="label__title">
									Ваш email
								</p>
								<input class="input" id="reg-email" type="text">
							</label>
							<label class="label">
								<p class="label__title">
									Пароль
								</p>
								<input class="input" id="reg-password" type="password" type="text">
							</label>
							<br>
							<button class="modal__btn btn btn--dark">Зарегистрироваться</button>
						</form>
					</div>
					<div class="modal__footer">
						<p class="modal__text">
							Уже зарегистрированы? <br> <span id="modal__link--auth" class="modal__link">Войти</span>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>