<!-- Это блоки, которые по умолчанию скрыты. Их будет больше -->
<div class="hiddens">

	<!-- Окно регистрации/авторизации -->
	<div class="modal micromodal-slide" id="modal-login" aria-hidden="true">
		<div class="modal__overlay" tabindex="-1" data-micromodal-close>
			<div class="modal__container modal__container--small custom-scroll custom-scroll--accent" role="dialog" aria-modal="true" aria-labelledby="modal-login-title">
				<div class="modal__tab modal__tab--auth">
					<div class="modal__header">
						<h2 class="modal__title" id="modal-1-title">
							Авторизация
						</h2>
						<div class="modal__close close" aria-label="Закрыть окно" data-micromodal-close>
							<svg class="icon-svg" data-micromodal-close>
								<use xlink:href="img/sprites/svg/symbols.svg#icon-close"></use>
							</svg>
						</div>
					</div>
					<div class="modal__content" id="modal-1-content">
						<form action="" class="modal__form">
							<label class="label-modal">
								<p class="label-modal__title">
									Логин
								</p>
								<input class="label-modal__input" type="text">
							</label>
							<label class="label-modal">
								<p class="label-modal__title">
									Пароль
								</p>
								<input class="label-modal__input" type="password">
								<div class="label-modal__show-pass">
									<svg class="icon-svg" data-micromodal-close>
										<use xlink:href="img/sprites/svg/symbols.svg#icon-show"></use>
									</svg>
								</div>
							</label>
							<br>
							<button class="modal__btn btn btn--dark">Войти</button>
							<a href="#" class="modal__link">Забыли пароль?</a>
							<hr>
							<a href="registration.html" class="modal__btn btn modal__btn--black">Регистрация</a>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="menu">
		<div class="menu__content">
			<div class="menu__top">
				<a href="tel:+74012534400" class="menu__phone">
					+7 (4012) 53-44-00
				</a>
				<a href="tel:+78002009106" class="menu__phone">
					8-800-200-91-06
				</a>
			</div>
			<div class="menu__middle">
				<a href="" class="menu__link">
					Туры в Европу
				</a>
				<a href="" class="menu__link">
					Экскурсии по Калининградской области
				</a>
				<a href="news.html" class="menu__link">
					Новости
				</a>
				<a href="faq.html" class="menu__link">
					Вопросы и ответы
				</a>
				<a href="reviews.html" class="menu__link">
					Отзывы
				</a>
				<a href="contacts.html" class="menu__link">
					Контакты
				</a>
			</div>
			<div class="menu__bottom" >
				<div class="menu__profile" data-micromodal-trigger="modal-login">
					Войти в личный кабинет
				</div>
			</div>
		</div>
		<div class="menu__overlay">
			
		</div>
	</div>
	
</div>