<div class="sidebar custom-scroll custom-scroll--accent">
	<div class="sidebar__menu side-menu">
		<p class="sidebar__title side-menu__title" data-tippy-content="Я окошечко">
			Информация о туре
		</p>
		<a href="#" class="side-menu__link side-menu__link--active">
			Программа тура по дням
		</a>
		<a href="#" class="side-menu__link">
			Включено в стоимость тура
		</a>
		<a href="#" class="side-menu__link">
			Дополнительные услуги
		</a>
		<a href="#" class="side-menu__link">
			Дополнительные экскурсии
		</a>
		<a href="#" class="side-menu__link">
			Отзывы о туре
		</a>
		<a href="#" class="side-menu__link">
			Полезные советы
		</a>
	</div>
	<div class="sidebar__booking side-booking">
		<div class="side-booking__top">
			<p class="sidebar__title side-booking__title">
				Бронирование
			</p>
			<p class="side-booking__name">
				Прага-Дрезден (6 дней)
			</p>
			<div class="side-booking__line">
				<div class="side-booking__left">
					Выезд:
				</div>
				<div class="side-booking__right">
					25 сент.-1 окт. 2019
				</div>
			</div>
			<div class="side-booking__line">
				<div class="side-booking__left">
					Экскурсионный пакет:
				</div>
				<div class="side-booking__right">
					да
				</div>
			</div>
			<div class="side-booking__line">
				<div class="side-booking__left">
					Отель:
				</div>
				<div class="side-booking__right">
					<p>
						Andalousie
					</p>
					<p>
						стандартный номер
					</p>
					<p>
						без питания
					</p>
				</div>
			</div>
			<div class="side-booking__line">
				<div class="side-booking__left">
					Взрослых:
				</div>
				<div class="side-booking__right">
					2
				</div>
			</div>
		</div>
		<div class="side-booking__bottom">
			<div class="side-booking__result">
				<div class="side-booking__result--left">
					<span class="side-booking__result-price">
						245
					</span>
					<span class="side-booking__result-money">
						EUR
					</span>
					<div class="fact side-booking__fact" aria-label="при условии приобретения экскурсионного пакета Высокие Татры и Краков (35 EUR)" data-microtip-position="top-right" role="tooltip">
						<svg class="icon-svg">
							<use xlink:href="img/sprites/svg/symbols.svg#icon-warning"></use>
						</svg>
					</div>
				</div>
				<div class="side-booking__result--right">
					С человека в 2-х местном стандартном номере
				</div>
			</div>
		</div>
	</div>
</div>