<div class="sidebar">
	<div class="sidebar__menu side-menu">
		<p class="sidebar__title side-menu__title">
			Информация о туре
		</p>
		<a href="#" class="side-menu__link">
			Программа тура по дням
		</a>
		<a href="#" class="side-menu__link">
			Включено в стоимость тура
		</a>
		<a href="#" class="side-menu__link">
			Дополнительные услуги
		</a>
		<a href="#" class="side-menu__link">
			Дополнительные экскурсии
		</a>
		<a href="#" class="side-menu__link">
			Отзывы о туре
		</a>
		<a href="#" class="side-menu__link">
			Полезные советы
		</a>
		<a href="#" class="side-menu__link">
			Программа тура по дням
		</a>
		<a href="#" class="side-menu__link">
			Включено в стоимость тура
		</a>
		<a href="#" class="side-menu__link">
			Дополнительные услуги
		</a>
		<a href="#" class="side-menu__link">
			Дополнительные экскурсии
		</a>
		<a href="#" class="side-menu__link">
			Отзывы о туре
		</a>
		<a href="#" class="side-menu__link">
			Полезные советы
		</a>
		<a href="#" class="side-menu__link">
			Программа тура по дням
		</a>
		<a href="#" class="side-menu__link">
			Включено в стоимость тура
		</a>
		<a href="#" class="side-menu__link">
			Дополнительные услуги
		</a>
		<a href="#" class="side-menu__link">
			Дополнительные экскурсии
		</a>
		<a href="#" class="side-menu__link">
			Отзывы о туре
		</a>
		<a href="#" class="side-menu__link">
			Полезные советы
		</a>
		<a href="#" class="side-menu__link">
			Программа тура по дням
		</a>
		<a href="#" class="side-menu__link">
			Включено в стоимость тура
		</a>
		<a href="#" class="side-menu__link">
			Дополнительные услуги
		</a>
		<a href="#" class="side-menu__link">
			Дополнительные экскурсии
		</a>
		<a href="#" class="side-menu__link">
			Отзывы о туре
		</a>
		<a href="#" class="side-menu__link">
			Полезные советы
		</a>
	</div>
</div>